.help-block {
    font-size: 12px;
}


.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 2px;
    padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid black; /* Blue */
    border-radius: 50%;
	margin-top: 30px;
	margin-bottom: auto;
    width: 50px;
    height: 50px;
    animation: spin .5s linear infinite;
}
#map { height: 100%; }


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}