<div ng-controller="Home.IndexController as vm">

	<nav class="navbar navbar-slate-inverse" id="main-navbar" role="navigation">
		<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			 <!-- <a class="navbar-brand" href="#">Telephony UI</a> -->
			  <!--Add Link to Company Logo-->
			  <a class="navbar-brand" href="#"><ng-include src="'company-content/logo.html'"></ng-include></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
			  <ul class="nav navbar-nav" ng-if="vm.permissions.read.Didblock == true">
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Number Tracking</a>
				  <ul class="dropdown-menu">
					<li><a href="#/didblock/create" ng-if="vm.permissions.create.Didblock == true">Add Number Block</a></li>
					<!--<li><a href="#/importdidblock" ng-if="vm.permissions.create.Didblock == true">Bulk Import Number Blocks</a></li>-->
					<li><a href="#/didblock">List Number Blocks</a></li>
					<li role="separator" class="divider" ng-if="vm.permissions.read.Cucmclass == true"></li>
					<li><a href="#/checkdidusage" ng-if="vm.permissions.read.Cucmclass == true">Check DID Usage</a></li>
					<li><a href="#/checkdidblockusage" ng-if="vm.permissions.read.Cucmclass == true">Check DID Block Usage</a></li>
					<li role="separator" class="divider" ng-if="vm.permissions.read.Cucmclass == true"></li>
					<li><a href="#/reports/linecleanup"  ng-if="vm.permissions.read.Cucmclass == true" >Number Cleanup Reports</a></li>
					
					<!--
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">One more separated link</a></li>
					-->
				  </ul>
				</li>
			  </ul>
			
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <ul class="nav navbar-nav" ng-show="vm.permissions.read.Site == true">
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site Deployment</a>
				  <ul class="dropdown-menu">
					<li><a href="#/site/create" ng-if="vm.permissions.create.Site == true">New Site Plan</a></li>
					<li><a href="#/site">List Plans</a></li>
					
					<!--
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">One more separated link</a></li>
					-->
				  </ul>
				</li>
			  </ul>
			  
			   <!-- Collect the nav links, forms, and other content for toggling -->
			  <ul class="nav navbar-nav">
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site Management</a>
				  <ul class="dropdown-menu">
					<li><a href="#/reports/site-trunking-911-report"  ng-if="vm.permissions.read.Cucmsiteconfigs == true || vm.permissions.read.PhoneMACD == true">List Sites</a></li>
					<li role="separator" class="divider" ng-if="vm.permissions.read.PhoneMACD == true || vm.permissions.read.Cucmclass == true" ></li>
					<li><a href="#/mymacds/week"  ng-if="vm.permissions.read.PhoneMACD == true || vm.permissions.read.Cucmclass == true" >My Weeks MACDs</a></li>
					<li><a href="#/macds/report"  ng-if="vm.permissions.read.Cucmclass == true" >MACD Report</a></li>
					
					<li><a href="#" ng-show="vm.permissions.read.Cucmsiteconfigs != true">None Found</a></li>
					<!--
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">One more separated link</a></li>
					-->
				  </ul>
				</li>
			  </ul>
			  
			  
			  
			  
			  <ul class="nav navbar-nav" ng-show="vm.permissions.read.TelecomInfrastructure == true">
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Infrastructure Tracking</a>
				  <ul class="dropdown-menu">
					
					
					<li><a href="#/infrastructure/create" ng-if="vm.permissions.create.Didblock == true">Add Device</a></li>
					<!--<li><a href="#/importdidblock" ng-if="vm.permissions.create.Didblock == true">Bulk Import Number Blocks</a></li>-->
					<li><a href="#/infrastructure">List Inventory</a></li>

					<!--
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">One more separated link</a></li>
					-->
				  </ul>
				</li>
			  </ul>
			  
			  <ul class="nav navbar-nav" ng-show="vm.permissions.read.Sonus5k == true">
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SBC</a>
				  <ul class="dropdown-menu">
					
					
					<li><a href="#/sonus/activecalls">Active Call Summary</a></li>
					<li><a href="#/sonus/activecalldetails">Active Call Media Details</a></li>
					<li role="separator" class="divider" ng-show="vm.permissions.read.Sonus5kCDR == true"></li>
					<li><a href="#/sonus/cdr/todays_calls_with_pkt_loss"  ng-show="vm.permissions.read.Sonus5kCDR == true">24hr Call Packet Loss Report</a></li>
					<li><a href="#/sonus/cdr/todays_calls_attempts"  ng-show="vm.permissions.read.Sonus5kCDR == true">24hr Call Attempts Report</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/sonus/activealarms">Active Alarms</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/sonus/configrepo">SBC Config Repo</a></li>
					
					<!--<li><a href="{{vm.sbcrepo}}" target="_blank">SBC Config Repo</a></li>-->
					
					<!--
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/didblock">One more separated link</a></li>
					-->
				  </ul>
				</li>
			  </ul>
			  
			 
			  
			  <!--
			  <ul class="nav navbar-nav">
					<li><a href="#/reports">Reports</a></li>
			  </ul>
			  -->
			  
			  
			  
			  <ng-include src="'company-content/company.navbar.html'"></ng-include>
			  <!--
			  <ul class="nav navbar-nav">
					<li><a href="https://e911manager">E911</a></li>
			  </ul>
			  -->
			  
			  <ul class="nav navbar-nav navbar-right">
				<!--
				<li><a href="#">Link</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
				  </ul>
				</li>-->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-if="vm.username">Signed in as {{vm.username}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
					</ul>
				</li>
			  </ul>
			  
			</div>
		</div>
	</nav>

</div>

