<div class="container">
		<div ng-if="vm.username">
		<!-- Populate User info if avaible -->
			<h3 >Welcome {{vm.username}}<br>  
			<h5>{{vm.title}}</h5>
			<div ng-if="vm.photo">
				<img style="background-repeat: no-repeat; background-position: 50%; border-radius: 50%; width: 80px; height: 95px;" class="pull-right"src=data:image/png;base64,{{vm.photo}}></h3>
			</div>
		</div>
		
		<!--	Testing the ability to include another controller info on a different page. 
		<div ng-controller="Didblock.IndexController as DidblockCtrl">
			{{DidblockCtrl.didblocks}}
		</div>
		-->
		<div style="margin-top: 10px"></div>
		
		<p><a href="#/login">Logout</a></p>

	<div class="jumbotron">

		<h1>Telephony UI</h1>
		<hr>
		<div style="margin-top: 50px"></div>
		<li><ul>The Telephony UI is a Bootstrap/Angular JS Frontend that interacts with the Telephony Backend Service via RESTful API calls using JWTs.</ul></li>
		<li><ul>The Telephony Backend Service is built on the Laravel Framework/Dingo API/Bouncer/JWT.</ul></li>
		<div style="margin-top: 50px"></div>
		
		<hr>
		
		<ng-include src="'company-content/didlist.html'"></ng-include>
		
		
	</div>

</div>