


	

		<!-- Loading -->
		<div ng-if="vm.loading && !vm.message" class="well">
			<div class="row">
				<div class="container loader"></div>
			</div>
			<div style="margin:25px"></div>
		</div>

		<div ng-if="vm.message;" class="well">
			<div class="row">
				<h4>{{vm.message}}</h4>
			</div>
			<div style="margin:65px"></div>
		</div>
		
		<div ng-if="!vm.loading && vm.mactasks">
		
		 <div style="margin:25px">
			<legend><h3>MACD Job Summary - ID: {{vm.macd_details.macd.id}} </h3> </legend><button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button><br> <div style="margin:25px"></div>
			
		</div>
			
		<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
				<div class="table-responsive">    
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf)">
								<th>
									<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
										ID
											<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>

								<th>
									<a href="" ng-click="sortType = 'sitecode'; sortReverse = !sortReverse" style="color:black">
										parent
											<span ng-show="sortType == 'sitecode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'sitecode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>

								<th>
									<a href="" ng-click="sortType = 'srstip'; sortReverse = !sortReverse" style="color:black">
										type
											<span ng-show="sortType == 'srstip' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'srstip' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>	

								<th>
									<a href="" ng-click="sortType = 'h323ip'; sortReverse = !sortReverse" style="color:black">
										status
											<span ng-show="sortType == 'country_code' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'country_code' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>

								<th>
									<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
										Created By
											<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>								
								

								<th>
									<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
										Created At
											<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'updated_by'; sortReverse = !sortReverse" style="color:black">
										Updated By
											<span ng-show="sortType == 'updated_by' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'updated_by' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
										Updated At
											<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
							</tr>
						</thead>
						
						<tbody>

						<tr ng-repeat="task in vm.mactasks">
								<td>{{ task.id}}</a></td>
								<td>{{ task.parent}}</td>
								<td>{{ task.type}}</td>
								<td>
									<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#macd-result-modal-{{ task.id}}"><b>{{ task.status}}</b></button>
									<ng-include src="'cucm-phone-manager/includes/include-macd-result-modal.html'"></ng-include>
									
								</td>
								<td>{{ vm.macd_details.macd.created_by}}</td>
								<td>{{ task.created_at}}</td>
								<td>{{ task.updated_by}}</td>
								<td>{{ task.updated_at}}</td>
								
								
						</tr>
						</tbody>
					</table>
					</div>
		</div>

		<div style="margin:25px"></div>

		
		<div class="col-md-12 col-sm-12 col-lg-12">
			
				<a href="#phone/{{vm.phone.name}}" target="_blank"><button type="button" class="btn btn-primary btn-sm" ng-if="vm.phone">View Phone</button></a>
				<a href="#line/{{vm.line_number}}" target="_blank"><button type="button" class="btn btn-primary btn-sm" ng-if="vm.line_number">View Line</button></a>
				<button ng-if="vm.unity_mailbox_extension_inuse" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#existing-user-mailbox-modal">View Mailbox</button>

		</div>
		
		
		<div style="margin:50px"></div>
	

