
# Drop this into your Crontab for scheduled tasks


####################################################################################
# Telecom Management Scheduled Tasks

# Ping Monitor Voice Infrastructure Status
*/1 * * * * /PATH_TO_APP/telephony/artisan monitoring:pingscan_infrastructure >> /PATH_TO_APP/telephony/storage/logs/ping-scan-infrastructure.log 2>&1

# SBC Alarm Monitor                       
*/1 * * * * /PATH_TO_APP/telephony/artisan monitoring:sonus_alarm_monitor >> /PATH_TO_APP/telephony/storage/logs/sonus_alarm_monitor.log 2>&1       

# SBC CDR Attempt Monitor
*/10 * * * * /PATH_TO_APP/telephony/artisan monitoring:sonus_cdr_attempt_monitor >> /PATH_TO_APP/telephony/storage/logs/sonus_cdr_attempt_monitor.log 2>&1

# Get SBC Call stats every 10 mins
*/10 * * * * /PATH_TO_APP/telephony/artisan sonus:write-callsummary-db > /dev/null 2>&1

# Get SBC CDRs every 5 mins
*/5 * * * * /PATH_TO_APP/telephony/artisan sonus:write-cdrs-to-db > /dev/null 2>&1

*/5 * * * * /opt/dcoapi/telephony/artisan sonus:save_call_reports_to_cache > /dev/null 2>&1

# Store SBC Active Calls to Cache - this script pulls every 5 secs for 1 minute - run every minute   
*/1 * * * * /opt/dcoapi/telephony/store-sonus-active-calls-to-cache.sh > /dev/null 2>&1

# Update Number Database with CUCM scan every hour
0 * * * * /PATH_TO_APP/telephony/artisan callmanager:didscan > /dev/null 2>&1

# CUCM Scheduled Jobs every hour
0 * * * * /PATH_TO_APP/telephony/artisan callmanager:sitescan > /dev/null 2>&1

# CUCM Scheduled Jobs every day at 0100
0 1 * * * /PATH_TO_APP/telephony/artisan callmanager:phonescan > /dev/null 2>&1

# Telecom Managment Backup at 0400
0 4 * * * /PATH_TO_APP/telephony/artisan backup:run > /dev/null 2>&1

# Cleanup backups every week
5 8 * * 7 /PATH_TO_APP/telephony/artisan backup:clean > /dev/null 2>&1

# Sonus - Get Conifgs - Scheduled Jobs every hour
0 * * * * /PATH_TO_APP/telephony/grab-sonus-configs.sh > /PATH_TO_APP/telephony/storage/logs/grab-sonus-configs.log 2>&1

####################################################################################
