#!/bin/bash

printf "\n###########################################################\n"
printf "Starting - grab-cucm-phoneconfigs.sh \n"

cd /PATH_TO_APP/

php artisan callmanager:phonescan

# Checkout your SVN Repo in this directory
cd /PATH_TO_APP/storage/cucm/kiewit-cucm/phones/

echo "Commiting Configs to Subversion..."

svn add * 2>&1 | grep -v already | grep -v Illegal

# Remove Locally deleted files from repo
svn rm $( svn status | sed -e '/^!/!d' -e 's/^!//' )

svn status

svn commit --username USERNAME --password PASSWORD -m "autoupdated"

printf "Ending Task - grab-cucm-phoneconfigs.sh \n"
