#!/bin/bash

php artisan sonus:getconfig


# Checkout your SVN Repo in this directory
cd storage/sonus/company-sonus-svnrepo/

svn add * 2>&1 | grep -v already | grep -v Illegal
svn status
svn commit --username admin --password pass -m "autoupdated"


