<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div class="container">
<!--
		<div ng-if="vm.username">
		 Populate User info if avaible 
			<h3 >Welcome {{vm.username}}<br>  
			<h5>{{vm.title}}</h5>
			<div ng-show="vm.photo">
				<img style="background-repeat: no-repeat; background-position: 50%; border-radius: 50%; width: 80px; height: 95px;" class="pull-right"src=data:image/png;base64,{{vm.photo}}></h3>
			</div>
		</div>
		
		<div style="margin-top: 10px"></div>
		
		<p><a href="#/logout">Logout</a></p>
-->

	<div ng-if="!vm.teamnumber">
		<div class="jumbotron">
			<legend><h2>Loading Number...</h2></legend>
			<div style="margin:50px"></div>
			<div class="well">
				<div class="row">
					<div class="container loader"  style="margin-top:100px; margin-bottom:100px">
					
					</div>
					<div style="margin:25px"></div>
				</div>
			</div>
			<div style="margin:25px"></div>
		</div>
	</div>	
		
	<div class="jumbotron" ng-if="vm.teamnumber">

		<!--<h1 style="-webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.05)));}"><img alt="Brand" style="max-height: 70px" src="app-content/images/phone-planning.png"> Telecom Management</h1>-->

		<!--<h1><img alt="Brand" style="max-height: 70px" src="//b.dryicons.com/images/icon_sets/architecture_blueprint_icons_set/png/128x128/phone.png"> Telecom Management</h1>-->

		<h2>{{vm.teamnumber.alertingName}}</h2>
		<h4>Phone Number: {{vm.teamnumber.pattern}}</h4>
		<hr>

		<div class="well">
			<div class="row">
				<div class="col-md-10 col-sm-10 col-lg-10 col-md-offset-1">
					<script type="text/ng-template" id="error-messages">
									<div ng-message='required'> This Field is required </div>
									<div ng-message='minlength'> Too short </div>
									<div ng-message='maxlength'> Too long </div>
					</script>
					<legend><h2>Edit Forwarding Number</h2></legend>
					<form class="form" role="form" id="changeOncallForm" ng-submit='changeOncallForm.$valid && vm.updateline(vm.teamnumber)' novalidate name="changeOncallForm">
					
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group">
									<label for="current"  class="control-label">Current OnCall Number</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone"></i></span>
											<input type="text" readonly ng-model='vm.teamnumber.currentoncallnum' required class="form-control"  name="current">
										</div>
									</div>
								</div>
							</div>
						</div>	
					
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': changeOncallForm.name.$touched && changeOncallForm.name.$invalid, 'has-success': changeOncallForm.name.$touched && changeOncallForm.name.$valid }">
									<label for="name" class="control-label">New OnCall Number</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone"></i></span>
											<input type="text" required ng-pattern='/^[+0-9]+/' ng-model='vm.teamnumber.callForwardAll.newoncallnum' required class="form-control"  name="name" placeholder="" ng-minlength='10' ng-maxlength='12'>
										</div>
										<div ng-messages="changeOncallForm.name.$dirty && changeOncallForm.name.$error">
											<div ng-message='required'>New Number is required </div>
											<div ng-message="pattern">Please enter the new 10 digit phone number in the numberic format</div>
											<div ng-message='minlength'>Number must be 10 digits</div>
											<div ng-message='maxlength'>Number must not be more than +1 and 10 digit number</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group">
									<button  type="submit" ng-disabled="changeOncallForm.name.$invalid" class="btn btn-primary">Update</button>
									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div style="margin:25px"></div>
			</div>
		</div>
	</div>
</div>