
<!-- Loading -->
<div ng-if="vm.loading" class="well">
	<div class="row">
		<div class="container loader" ajax-loader.gif><i src="app-content/images/ajax-loader.gif"></i></div>
	</div>
	<div style="margin:25px"></div>
</div>

<div ng-if="!vm.loading">
	<div ng-if="vm.macds.length < 1" class="well" style="background-color: #e6e6e6">
		<legend></legend>
		<p>Click below to deploy your Phone Plan. <br>
		This will create a macd job for each item in the plan and display status. </p>
		<!--<button ng-if="vm.macds.length == 0" class="btn btn-primary"  ng-click="vm.submitmacds(vm.phones)">Deploy</button>-->
		<button ng-if="vm.macds.length == 0" class="btn btn-primary"  ng-click="vm.submitmacdsbulk(vm.phones)">Deploy</button>
		<!--<button ng-if="vm.macds.length == 0" class="btn btn-default"  ng-click="vm.phonecheck(vm.phones)">PhoneCheck</button>-->
	</div>
	<div ng-if="vm.macds.length > 0">
	<legend ng-if="vm.macds.length == 1">{{vm.macds.length}} Job</legend>
	<legend ng-if="vm.macds.length != 1">{{vm.macds.length}} Jobs</legend>
	<p>You may see some errors and the system will try to try to fix those for 5 attempts. Be patient... We have to slow things down for Call Mangler</p>

		<a class="btn btn-danger" data-dismiss="modal" ng-click="vm.macddeleteselected(vm.macds)" ng-if="vm.macddeleteall">Delete Selected</a>
		<div style="margin:25px"></div>
		<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
			<div class="table-responsive">
			<table class="table table-striped table-condensed table-bordered table-hover">
				<thead>
						
						<tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf)">
							
							<th><input type="checkbox" ng-model="vm.macdselectAll" ng-click="vm.macdcheckAll()"/></th>
							<th></th>
							<th>
								<a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse" style="color:black">
									Status
										<span ng-show="sortType == 'status' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'status' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'form_data.firstname'; sortReverse = !sortReverse" style="color:black">
									Firstname
										<span ng-show="sortType == 'form_data.firstname' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'form_data.firstname' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'form_data.lastname'; sortReverse = !sortReverse" style="color:black">
									Lastname
										<span ng-show="sortType == 'form_data.lastname' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'form_data.lastname' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'form_data.username'; sortReverse = !sortReverse" style="color:black">
									Username
										<span ng-show="sortType == 'form_data.username' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'form_data.username' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'form_data.name'; sortReverse = !sortReverse" style="color:black">
									Name
										<span ng-show="sortType == 'form_data.name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'form_data.name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'form_data.device'; sortReverse = !sortReverse" style="color:black">
									Device Type
										<span ng-show="sortType == 'form_data.device' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'form_data.device' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'form_data.dn'; sortReverse = !sortReverse" style="color:black">
									Directory Number
										<span ng-show="sortType == 'form_data.dn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'form_data.dn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'form_data.voicemail'; sortReverse = !sortReverse" style="color:black">
									Voicemail
										<span ng-show="sortType == 'form_data.voicemail' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'form_data.voicemail' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'form_data.template'; sortReverse = !sortReverse" style="color:black">
									Template
										<span ng-show="sortType == 'form_data.template' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'form_data.template' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
									<a href="" ng-click="sortType = 'created_by'; sortReverse = !sortReverse" style="color:black">
										Created By
											<span ng-show="sortType == 'created_by' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'created_by' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
							<th>
								<a href="" ng-click="sortType = 'created_at_local'; sortReverse = !sortReverse" style="color:black">
									Time
										<span ng-show="sortType == 'created_at_local' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'created_at_local' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							
						</tr>
					</thead>
				<tbody>
					<tr ng-repeat="log in vm.macds | orderBy:sortType:sortReverse | filter:vm.search: strict" ng-if="log.hide != true">
							
							<td>
								<input type="checkbox" ng-model="log.select" ng-click="vm.macdselecttouched()">
							</td>
							<td><a href="#/macd/jobsummary/{{log.id}}"  target="_blank"><button style="color: white; background-color:#555a5e;" class="btn btn-xs"><b>View</b></button></a></td>
							<td>
								<a href="#/macd/jobsummary/{{log.id}}" ng-if="log.status != 'error' && log.status != 'complete'"style="color:orange;" target="_blank"><img src="app-content/images/ajax-loader.gif" style="max-height: 20px; margin-top: 0px;"></i>
								</a>
								<a href="#/macd/jobsummary/{{log.id}}" ng-if="log.status == 'error'"style="color:black;" target="_blank"><i class="fa fa-exclamation-triangle" style="color:red"></i>
								<b style="color:red"> {{log.status}}</b></a>
								<a href="#/macd/jobsummary/{{log.id}}" ng-if="log.status == 'complete'"style="color:black;" target="_blank"><i class="glyphicon glyphicon-ok" style="color:green"></i>
								<b> {{log.status}}</b></a>
							</td>
							<td>{{log.form_data.firstname}}</td>
							<td>{{log.form_data.lastname}}</td>
							<td>{{log.form_data.username}}</td>
							<td>{{log.form_data.name}}</td>
							<td>{{log.form_data.device}}</td>
							
							<td>{{log.form_data.dn}}</td>

							<td>{{log.form_data.voicemail}}</td>
							<td>{{log.form_data.template}}</td>
							<td>{{log.created_by}}</td>
							<td>{{log.created_at_local}}</td>
					</tr>
					
				</tbody>
			</table>
			</div>
		</div>
		<div style="margin:25px"></div>
		
		<a class="btn btn-danger" data-dismiss="modal" ng-click="vm.macddeleteselected(vm.macds)" ng-if="vm.macddeleteall">Delete Selected</a>
		
		<button ng-if="vm.macds.length == 0" class="btn btn-primary"  ng-click="">Deploy</button>
	</div>
</div>



