
<div ng-if="vm.ipphoneupdates">

<div class="alert alert-warning alert-dismissible" role="alert" ng-if="vm.ldapsyncstatus != 'Sync is performed successfully'">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Please wait... CUCM is now performing a full LDAP Sync. This can take a few minutes. </strong>
  
  <br><br>
  <!--
  You can check the sync status by clicking the button below. <br><br>
  <button class="btn btn-default"  ng-click="vm.getldapsyncstatus()"> Get LDAP Sync Status</button>
  -->
  
  <div ng-if="vm.ldapsyncstatus">
	<br>
	<strong>{{vm.ldapsyncstatus}}</strong>
	<hr> 
	This message will be dismissed when sync is complete.
	
  </div>
</div>

<div class="alert alert-success alert-dismissible" role="alert" ng-if="vm.ldapsyncstatus == 'Sync is performed successfully'">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<b>LDAP Sync Complete</b>
</div>

<legend>Active Directory Users Updated</legend>
	<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
	<div class="table-responsive">
		<table class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr class="warning">
					<th>
						<a href="" ng-click="sortType = 'user'; sortReverse = !sortReverse" style="color:black">
							Username
								<span ng-show="sortType == 'user' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'user' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'ipphone.old'; sortReverse = !sortReverse" style="color:black">
							Old DN
								<span ng-show="sortType == 'ipphone.old' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'ipphone.old' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'ipphone.new'; sortReverse = !sortReverse" style="color:black">
							New DN
								<span ng-show="sortType == 'ipphone.new' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'ipphone.new' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in vm.ipphoneupdates | orderBy:sortType:sortReverse | filter:vm.search: strict">
					<td>{{ user.user}}</td>
					<td>{{ user.ipphone.old}}</td>
					<td>{{ user.ipphone.new}}</td>

				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>