						
	<!-- Phone Deployment Modal -->
	<div class="modal fade " id="{{vm.phoneplan.id}}-phoneplan-modal" role="dialog">
		<div class="modal-dialog" style="width: 90%;">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Deploy Phones and Lines</h3>
				</div>

				<div class="modal-body">
					<p ng-hide="vm.newphones"><b style="color:red" >Warning!</b> You are about to deploy Phones to the Production System.</p>
					
					
					
					
					<div class="table-responsive">
					
						<div ng-show="vm.newphones" class="panel panel-default" style="width: 35%;">
						<table class="table table-striped table-condensed table-bordered table-hover" style="background-color: white;">
							<tr class="default">
								<th></th>
								<th>Success</th>
								<th>Errors</th>
								<th>Skipped</th>
								<th>Complete</th>
								<th>Total</th>
							</tr>
							<tr>
								<th>Lines</th>
								<td>{{vm.newphones.linesuccess}}</td>
								<td>{{vm.newphones.lineerrors}}</td>
								<td>{{vm.newphones.lineskipped}}</td>
								<td>{{vm.newphones.total}}</td>
								<td>{{vm.phones.length}}</td>
							</tr>
							<tr>
								<th>Phones</th>
								<td>{{vm.newphones.phonesuccess}}</td>
								<td>{{vm.newphones.phoneerrors}}</td>
								<td>{{vm.newphones.phoneskipped}}</td>
								<td>{{vm.newphones.total}}</td>
								<td>{{vm.phones.length}}</td>
							</tr>
							
						</table>
						</div>
					</div>
					
					<div style="margin:10px"></div>
					
					<!-- Progress Bar --> 
					<!-- Active Bar --> 
					<div ng-if="vm.newphones && vm.phones.length != vm.newphones.total" class="progress" style="width: 35%;">
					  <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="{{vm.newphones.total}}" aria-valuemin="1" aria-valuemax="{{vm.phones.length}}" style="width: {{vm.newphones.total / vm.phones.length * 100 | number:0}}%">
						{{vm.newphones.total / vm.phones.length * 100 | number:0}}%
					  </div>
					</div>
					
					<!-- 100% NonActive Bar 
					<div ng-if="vm.newphones && vm.phones.length == vm.newphones.total" class="progress" style="width: 35%;">
					  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{vm.newphones.total}}" aria-valuemin="1" aria-valuemax="{{vm.phones.length}}" style="width: {{vm.newphones.total / vm.phones.length * 100 | number:0}}%">
						100%
					  </div>
					</div>--> 

					<div style="margin:50px"></div>

					<legend ng-show="vm.newphones && !vm.phonefailures">Summary Report</legend>
					<div class="table-responsive">
						<table ng-show="vm.newphones && !vm.phonefailures" class="table table-striped table-condensed table-bordered table-hover" style="background-color: white;">
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Line</th>
								<th>Phone</th>
								

							</tr>
							<tr ng-repeat="phone in vm.newphones">
								<div ng-hide="phone.skipped">
									<td style="display:none" ng-init="vm.newphones.total = vm.newphones.total + 1"></td>
									<td><b>{{ phone.Phone.request.name}}</b></td>
									<td>{{ phone.Phone.request.description}}<br>{{ phone.Phone.request.username}}</td>
									<td>
										<div ng-if="phone.Line" class="table-responsive">
										<table class="table table-bordered table-hover" style="background-color: transparent;">
											<tr ng-repeat="(k,v) in phone.Line">
												<!--Hide the row data if it equals request-->
												<td ng-if="k != 'request' && k != 'type' "><b>{{k}}</b></td>
												<td ng-if="k != 'request' && k != 'type'">
													<i ng-if="k == 'status' && v == 'error'"  ng-init="vm.newphones.lineerrors = vm.newphones.lineerrors + 1"class="fa fa-exclamation-triangle"></i>
													<i ng-if="k == 'status' && v == 'success'"  ng-init="vm.newphones.linesuccess = vm.newphones.linesuccess + 1" class="fa fa-check-square-o" aria-hidden="true"></i>
													<i ng-if="k == 'skipped' && v == true"  ng-init="vm.newphones.lineskipped = vm.newphones.lineskipped + 1" class="fa fa-check-square-o" aria-hidden="true"></i> 
													{{v}}
												</td>
											</tr>		
										</table>
										</div>
									</td>
									<td>
										<div ng-if="phone.Phone" class="table-responsive">
											<table class="table table-bordered table-hover table-responsive" style="background-color: transparent;">
												<tr ng-repeat="(k,v) in phone.Phone">
													<!--Hide the row data if it equals request or type-->
													<td ng-if="k != 'request'  && k != 'type' "><b>{{k}}</b></td>
													<td ng-if="k != 'request'  && k != 'type' ">
														<i ng-if="k == 'status' && v == 'error'" ng-init="vm.newphones.phoneerrors = vm.newphones.phoneerrors + 1" class="fa fa-exclamation-triangle"></i>
														<i ng-if="k == 'status' && v == 'success'" ng-init="vm.newphones.phonesuccess = vm.newphones.phonesuccess + 1" class="fa fa-check-square-o" aria-hidden="true"></i> 
														<i ng-if="k == 'skipped' && v == true"  ng-init="vm.newphones.phoneskipped = vm.newphones.phoneskipped + 1" class="fa fa-check-square-o" aria-hidden="true"></i> 
														{{v}}
													</td>
												</tr>		
											</table>
										</div>
									</td>
								</div>
							</tr>
							
								
						</table>
					
					</div>
				
				
				
				
					<legend ng-show="vm.phonefailures">Error Summary Report</legend>
						<div ng-show="vm.phonefailures.length == 0">
							No Erorrs Found
						</div>
						
						
						<div class="table-responsive">
							<table ng-show="vm.phonefailures.length > 0 " class="table table-striped table-condensed table-bordered table-hover" style="background-color: white;">
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Line</th>
									<th>Phone</th>
									

								</tr>
								<tr ng-repeat="phone in vm.phonefailures">
									<div ng-hide="phone.skipped">
										<td style="display:none" ng-init="vm.phonefailures.total = vm.phonefailures.total + 1"></td>
										<td><b>{{ phone.Phone.request.name}}</b></td>
										<td>{{ phone.Phone.request.description}}<br>{{ phone.Phone.request.username}}</td>
										<td>
											<div ng-if="phone.Line" class="table-responsive">
											<table class="table table-bordered table-hover" style="background-color: transparent;">
												<tr ng-repeat="(k,v) in phone.Line">
													<!--Hide the row data if it equals request-->
													<td ng-if="k != 'request' && k != 'type' "><b>{{k}}</b></td>
													<td ng-if="k != 'request' && k != 'type'">
														<i ng-if="k == 'status' && v == 'error'"  ng-init="vm.phonefailures.lineerrors = vm.phonefailures.lineerrors + 1"class="fa fa-exclamation-triangle"></i>
														<i ng-if="k == 'status' && v == 'success'"  ng-init="vm.phonefailures.linesuccess = vm.phonefailures.linesuccess + 1" class="fa fa-check-square-o" aria-hidden="true"></i>
														<i ng-if="k == 'skipped' && v == true"  ng-init="vm.phonefailures.lineskipped = vm.phonefailures.lineskipped + 1" class="fa fa-check-square-o" aria-hidden="true"></i> 
														{{v}}
													</td>
												</tr>		
											</table>
											</div>
										</td>
										<td>
											<div ng-if="phone.Phone" class="table-responsive">
												<table class="table table-bordered table-hover table-responsive" style="background-color: transparent;">
													<tr ng-repeat="(k,v) in phone.Phone">
														<!--Hide the row data if it equals request or type-->
														<td ng-if="k != 'request'  && k != 'type' "><b>{{k}}</b></td>
														<td ng-if="k != 'request'  && k != 'type' ">
															<i ng-if="k == 'status' && v == 'error'" ng-init="vm.phonefailures.phoneerrors = vm.phonefailures.phoneerrors + 1" class="fa fa-exclamation-triangle"></i>
															<i ng-if="k == 'status' && v == 'success'" ng-init="vm.phonefailures.phonesuccess = vm.phonefailures.phonesuccess + 1" class="fa fa-check-square-o" aria-hidden="true"></i> 
															<i ng-if="k == 'skipped' && v == true"  ng-init="vm.phonefailures.phoneskipped = vm.phonefailures.phoneskipped + 1" class="fa fa-check-square-o" aria-hidden="true"></i> 
															{{v}}
														</td>
													</tr>		
												</table>
											</div>
										</td>
									</div>
								</tr>
								
									
							</table>
					
						</div>
					</div>
				
					<div style="margin:25px"></div>
				<div class="modal-footer">

				
				<!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
				
				<a class="btn btn-primary btn-sm" ng-if="vm.newphones" ng-click="vm.showfailuresonly()">Show Errors</a>
				<a class="btn btn-primary btn-sm" ng-if="vm.newphones" data-dismiss="modal" ng-click="vm.refresh()">Finish</a>
				
				<a class="btn btn-danger btn-sm" ng-if="!vm.newphones" ng-click="vm.deployphonescucm(vm.phones)">Deploy</a>
				<a class="btn btn-primary btn-sm" ng-if="!vm.newphones" data-dismiss="modal">Cancel</a>
				<div style="margin:100px"></div>
				</div>
			
			</div>
		</div>
	</div> <!-- npa of Modal -->
