<div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#/line/{{line.dirn.pattern}}"><b>{{line.dirn.pattern}}</b></a>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label">Line Number</label>
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							<input class="form-control" readonly ng-model="line.dirn.pattern">
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label">Label</label>
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							<input class="form-control" readonly ng-model="line.label">
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label">Associated End User</label>
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							<input class="form-control" readonly ng-model="line.associatedEndusers.enduser.userId">
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label">Call Forwarding</label>
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							<input class="form-control" readonly style="color:red;" ng-model="forwarding" ng-init="forwarding = vm.getcallforwardinfo(line.dirn.uuid)">
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div></div>
	</div>
</div>