<div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="panel panel-primary">
	
	<div class="panel-heading">
		{{speeddial.dirn}}
	</div>
	
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label">Index</label>
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							<input class="form-control" readonly ng-model="speeddial.index">
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label">Speeddial Number</label>
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							<input class="form-control" readonly ng-model="speeddial.dirn">
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label">Label</label>
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							<input class="form-control" readonly ng-model="speeddial.label">
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</div></div>
	</div>
</div>