<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:10px"></div>

<div style="margin-left:5%; margin-right:5%;">

	<div class="well form-horizontal" style="margin-top:10px;" >
	
	<div style="margin:50px"></div>
	
	<legend>Infrastructure Tracking Inventory <button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button><br> <div style="margin:10px"></div></legend>
		
		
		<div class="input-group col-md-3 ">
			<input type="text" class="form-control" ng-model="vm.search" ng-model-options="{ debounce: 800 }" placeholder="Search" name="srch-term" id="srch-term">
			<div class="input-group-btn">
				<button class="btn btn-default btn-disabled" ng-click="vm.search = undefined"><i class="glyphicon glyphicon-search"></i>
			</div>
		</div>
		
		
		<div style="margin:25px"></div>
		
		<a ng-if="!vm.message && vm.permissions.create.TelecomInfrastructure" href="#/infrastructure/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>
		
		<div style="margin:25px"></div>
		

		<!-- Loading -->
		<div ng-if="vm.loading && !vm.message" class="well">
			<div class="row">
				<div class="container loader"></div>
			</div>
			<div style="margin:25px"></div>
		</div>

		<div ng-if="vm.message;" class="well">
			<div class="row">
				<h4>{{vm.message}}</h4>
			</div>
			<div style="margin:65px"></div>
		</div>
		
		
		<div ng-if="vm.devices.length > 0">
		
			<h4>Found {{vm.devices.length}} Devices</h4>
			<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
			<div class="table-responsive">    
				<table class="table table-striped table-condensed table-bordered table-hover">
					<thead>
						<tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf)">
							<th>
								<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
									ID
										<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'hostname'; sortReverse = !sortReverse" style="color:black">
									Hostname
										<span ng-show="sortType == 'hostname' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'hostname' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'ip_reachable'; sortReverse = !sortReverse" style="color:black">
									IP Reachable
										<span ng-show="sortType == 'ip_reachable' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'ip_reachable' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'comment'; sortReverse = !sortReverse" style="color:black">
									Comment
										<span ng-show="sortType == 'comment' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'comment' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'function'; sortReverse = !sortReverse" style="color:black">
									Function
										<span ng-show="sortType == 'function' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'function' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse" style="color:black">
									Role
										<span ng-show="sortType == 'role' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'role' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							
							
							<th>
								<a href="" ng-click="sortType = 'manufacturer'; sortReverse = !sortReverse" style="color:black">
									Manufacturer
										<span ng-show="sortType == 'manufacturer' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'manufacturer' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>	
							
							<th>
								<a href="" ng-click="sortType = 'application'; sortReverse = !sortReverse" style="color:black">
									Application
										<span ng-show="sortType == 'application' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'application' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'software_version'; sortReverse = !sortReverse" style="color:black">
									Software Version
										<span ng-show="sortType == 'software_version' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'software_version' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'os'; sortReverse = !sortReverse" style="color:black">
									Operating System
										<span ng-show="sortType == 'os' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'os' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>							
							
							<th>
								<a href="" ng-click="sortType = 'ip_address'; sortReverse = !sortReverse" style="color:black">
									IP Address
										<span ng-show="sortType == 'ip_address' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'ip_address' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'mgmt_url'; sortReverse = !sortReverse" style="color:black">
									URL
										<span ng-show="sortType == 'mgmt_url' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'mgmt_url' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'location'; sortReverse = !sortReverse" style="color:black">
									Location
										<span ng-show="sortType == 'location' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'location' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							
							
							<th>
								<a href="" ng-click="sortType = 'json'; sortReverse = !sortReverse" style="color:black">
									JSON
										<span ng-show="sortType == 'json' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'json' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
									Created At
										<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
									Updated At
										<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th ng-if="vm.permissions.update.TelecomInfrastructure || vm.permissions.delete.TelecomInfrastructure">Actions</th>
						</tr>
					</thead>
					<tbody style="font-size: 12px;">

					<!-- Allow you to edit and delete Blocks with new buttons -->
					<!--<tr ng-repeat="device in vm.devices | orderBy:sortType:sortReverse | filter:vm.search: strict">-->
					<tr ng-repeat="device in vm.devices | orderBy:sortType:sortReverse | filter:vm.search: strict">
					
						<!--List View-->
						<td>{{ device.id}}</td>

						<td   ng-show="!vm.edit[device.id]">
							<b><a href="#/infrastructure/edit/{{device.id}}" ng-if="vm.permissions.update.TelecomInfrastructure" >{{ device.hostname}}</a>
							<span ng-if="!vm.permissions.update.TelecomInfrastructure" >{{ device.hostname}}<span></b></td>
						<td   ng-show="!vm.edit[device.id]">
							<button type="button" class="btn btn-xs btn-danger" ng-if="device.ip_reachable == 0 && device.monitor == 1">Down</button> 
							<a href='{{ device.mgmt_url}}' target="blank"><button type="button" class="btn btn-xs btn-success" ng-if="device.ip_reachable == 1 && device.monitor == 1">Up</button></a>
							<a href='{{ device.mgmt_url}}' target="blank"><button type="button" class="btn btn-xs btn-info" ng-if="device.monitor == 0">Unmonitored</button></a>
						</td>
						<td   ng-show="!vm.edit[device.id]">{{ device.comment}}</td>
						<td   ng-show="!vm.edit[device.id]">{{ device.function}}</td>
						<td   ng-show="!vm.edit[device.id]">{{ device.role}}</a></td>
						<td   ng-show="!vm.edit[device.id]">{{ device.manufacturer}}</td>
						<td   ng-show="!vm.edit[device.id]">{{ device.application}}</td>
						<td   ng-show="!vm.edit[device.id]">{{ device.software_version}}</td>
						<td   ng-show="!vm.edit[device.id]">{{ device.os}}</td>
						<td   ng-show="!vm.edit[device.id]">{{ device.ip_address}}</td>
						<td   ng-show="!vm.edit[device.id]"><a href='{{ device.mgmt_url}}' target="blank"><b style="color:#337ab7">{{ device.mgmt_url}}</b></a></td>
						<td   ng-show="!vm.edit[device.id]">{{ device.location}}</td>
						
						<td   ng-show="!vm.edit[device.id]"><span ng-repeat="stuff in device.json">{{ stuff}} </span> </td>
						
						<td   ng-show="!vm.edit[device.id]">{{ device.created_at}} by {{device.created_by}}</td>
						<td   ng-show="!vm.edit[device.id]">{{ device.updated_at}} by {{device.updated_by}}</td>
						<td   ng-if="vm.permissions.update.TelecomInfrastructure || vm.permissions.delete.TelecomInfrastructure" ng-show="!vm.edit[device.id]">
							<!--<button class="btn btn-primary btn-xs "  ng-click="vm.edit[device.id] = !vm.edit[device.id]"> Edit </button>-->
							<a href="#/infrastructure/edit/{{device.id}}" ng-if="vm.permissions.update.TelecomInfrastructure" ><button class="btn btn-primary btn-xs"><i class="glyphicon glyphicon glyphicon-pencil"></i> Edit</button> </a>
							
							<!-- Function moved ot modal...
							<button class="btn btn-danger btn-xs " ng-click="vm.delete(device)"> Delete </button>-->
							
							<button class="btn btn-danger btn-xs " ng-if="vm.permissions.delete.TelecomInfrastructure" data-toggle="modal" data-target="#{{device.id}}-modal"> Delete </button>
						
							<!-- Are you sure Modal - Hidden Unless Delete button is Pressed -->
							<div class="modal fade" id="{{device.id}}-modal" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4>Are you sure? <h4>
										</div>
										<div class="modal-body">
											<p>You are about to delete device: {{ device.devicecode}}</p>
											<table class="table table-striped table-condensed table-bordered table-hover">
												<tr>
													<th>ID</th>
													<th>Hostname</th>

												</tr>
												<tr>
													<td>{{ device.id}}</td>
													<td>{{ device.hostname}}</td>
												</tr>
											</table>
											<p>All provisioned information will be lost. Are you sure you want to proceed?</p>
										</div>
										<div class="modal-footer">

										<!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
										<a class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete(device)">Delete</a>
										<a class="btn btn-primary" data-dismiss="modal">Cancel</a>
										</div>
									</div>
								</div>
							</div> <!-- npa of Modal -->
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			</div> <!--npa of Panel
			
			<a href="#/device/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>
			-->

			<div style="margin:100px"></div>
		</div>
	</div>
</div>

	

