
<div style="margin:25px"></div>
<div>
<div ng-show="vm.showaddrow" class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
<div class="table-responsive">    
<table class="table table-striped table-condensed table-bordered table-hover">
	<thead>
		<tr class="info">
			<th>Firstname</th>							
			<th>Lastname</th>
			<th>Username (optional - employees only)</th>
			<th>Device Name</th>
			<th>Device Type</th>
			<!--th>Create Local End User</th>-->
			<th>Directory Number</th>
			<th>Language</th>
			<th>Voicemail</th>
			<th>Notes</th>
			<!--<th>System ID</th>-->
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	</thead>
	<tbody>
	<!-- Allow you to edit and delete Blocks with new buttons -->
	<tr>
		
		<td   ng-show="vm.showaddrow"><input type="text" class="form-control form-control-sm" ng-model="newphone.firstname" required></td>
		<td   ng-show="vm.showaddrow"><input type="text" class="form-control form-control-sm" ng-model="newphone.lastname"></td>
		<td   ng-show="vm.showaddrow"><input type="text" class="form-control form-control-sm" ng-model="newphone.username"></td>
		<td   ng-show="vm.showaddrow"><input type="text" class="form-control form-control-sm" ng-model="newphone.name"></td>
		<!--<td   ng-show="vm.showaddrow"><input type="text" class="form-control form-control-sm" ng-model="newphone.device"></td>-->
		<td   ng-show="vm.showaddrow">
			<!--<input type="text" class="form-control form-control-sm" ng-model="newphone.language">-->
			<select class="form-control" ng-model='newphone.device' ng-options="model as model for model in vm.phonemodels" data-width="100%" name="model">
			</select>
		</td>
		<!-- SIP Phones suck... so wanted to look at building a local end user account for the phone. Issue is error checking in a table and validation isn't the easiest thing to do. Pointed user to use MACD form under site management for SIP Phones. 
		<td   ng-show="vm.showaddrow && newphone.device != 'Third-party SIP Device (Advanced)'"><input type="checkbox" disabled style="width: 17px; height: 17px;" class="form-control form-control-sm" ng-model="newphone.createuser"></td>
		<td   ng-show="vm.showaddrow && newphone.device == 'Third-party SIP Device (Advanced)'"><input type="checkbox"  style="width: 17px; height: 17px;" class="form-control form-control-sm" ng-model="newphone.createuser"></td>
		-->
		<td   ng-show="vm.showaddrow"><input type="text" class="form-control form-control-sm" ng-model="newphone.dn"></td>
		<td   ng-show="vm.showaddrow">
			<!--<input type="text" class="form-control form-control-sm" ng-model="newphone.language">-->
			<select class="form-control" ng-model='newphone.language' ng-options="language.name as language.name for language in vm.languages" data-width="100%" name="language">
			</select>
		</td>
		<td   ng-show="vm.showaddrow">
			<!--<input type="text" class="form-control form-control-sm" ng-model="newphone.voicemail">-->
			<select class="form-control" ng-model='newphone.voicemail' ng-options="value.name as value.name for value in vm.truefalse" data-width="100%" name="voicemail">
			</select>
		</td>
		<td   ng-show="vm.showaddrow"><input type="text" class="form-control form-control-sm" ng-model="newphone.notes"></td>
		<!--<td   ng-show="vm.showaddrow"><input type="text" class="form-control form-control-sm" ng-model="newphone.system_id"></td>-->
		
		<td  ng-show="vm.showaddrow">
			<!--<button class="btn btn-xs btn-primary"  ng-click="vm.createphone(phone);vm.edit[phone.id] = !vm.edit[phone.id]"> Save </button>-->
			<button class="btn btn-xs btn-primary" submit ng-click="vm.createphone(newphone)"> Save </button>
			<button class="btn btn-xs btn-default"  ng-click="vm.phoneaddtoggle(vm.showaddrow)"> Undo </button>
		</td>
	</tr>
	</tbody>
</table>
</div>
</div>
</div>