<div ng-if="vm.cucmphones.length < 1" class="well" style="background-color: #e6e6e6">
	<legend>No Phones found in CUCM</legend>
</div>
<div ng-if="vm.cucmphones.length > 0"  class="well" style="background-color: #e6e6e6">
<legend>{{vm.cucmphones.length}} Phones Exist in CUCM</legend>
	<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
		<table class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr class="warning">
					<th><input type="checkbox" ng-model="vm.cucmphoneselectAll" ng-click="vm.cucmphonecheckAll()"/></th>
					<th>
						<a href="" ng-click="sortType = 'phoneid'; sortReverse = !sortReverse" style="color:black">
							Phone ID
								<span ng-show="sortType == 'phoneid' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'phoneid' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse" style="color:black">
							MAC
								<span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'description'; sortReverse = !sortReverse" style="color:black">
							Description
								<span ng-show="sortType == 'description' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'description' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'model'; sortReverse = !sortReverse" style="color:black">
							Model
								<span ng-show="sortType == 'model' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'model' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'devicePoolName'; sortReverse = !sortReverse" style="color:black">
							Device Pool
								<span ng-show="sortType == 'devicePoolName' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'devicePoolName' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'ownerUserName'; sortReverse = !sortReverse" style="color:black">
							Owner ID
								<span ng-show="sortType == 'ownerUserName' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
								<span ng-show="sortType == 'ownerUserName' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
						</a>
					</th>
					<th>
							Lines
					</th>
					<!--<th>
							Actions
					</th>-->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="phone in vm.cucmphones | orderBy:sortType:sortReverse | filter:vm.search: strict">
					<td>
						<input type="checkbox" ng-model="phone.select" ng-click="vm.cucmphoneselecttouched()">
					</td>
					
					<td>{{ phone.phoneid}}</td>
					<td>{{ phone.name}}</td>
					<td>{{ phone.description}}</td>
					<td>{{ phone.model}}</td>
					<td>{{ phone.devicePoolName._}}</td>
					<td>{{ phone.ownerUserName._}}</td>
					<td>
						
							<!--Nested Table inside Row-->
							<div ng-if="phone.line_details != ''" class="panel panel-default" style="background-color: transparent;">
								<table class="table-condensed" style="background-color: transparent;">
									<!--
									<td><i>Pattern</i></td>
									<td><i>Label</i></td>
									<td><i>Call Forwarding</i></td>
									-->
									<tr ng-repeat="line in phone.line_details">
										<td ng-if="line.pattern != ''">{{line.pattern}}</td>
										<td ng-if="line.description != ''">{{line.description}}</td>
										<td ng-if="line.callForwardAll.destination != ''" style="color:red">Forwarded to: {{line.callForwardAll.destination}}</td>
									</tr>
								</table>
							</div>
							
					</td>
					<!--<td><a class="btn btn-xs btn-danger" data-dismiss="modal" ng-click="vm.deletecucmphone(phone)">Delete</a></td>-->
				</tr>
			</tbody>
		</table>
	</div>
	<div style="margin:25px"></div>
	<a class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="vm.cucmphonedeleteselected(vm.cucmphones)">Delete Selected</a>
</div>



						
	<!-- Phone Deployment Modal -->
	<div class="modal fade " id="{{vm.phoneplan.id}}-modal" role="dialog">
		<div class="modal-dialog" style="width: 90%;">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Deploy Phones and Lines</h3>
				</div>

				<div class="modal-body">
				<p ng-hide="vm.newphones"><b style="color:red" >Warning!</b> You are about to deploy Phones to the Production System.</p>
					
					<div class="table-responsive">
					<div style="margin:25px"></div>
						<div ng-show="vm.newphones" class="panel panel-default" style="width: 35%;">
						<table class="table table-striped table-condensed table-bordered table-hover" style="background-color: white;">
							<tr class="default">
								<th></th>
								<th>Success</th>
								<th>Errors</th>
								<th>Complete</th>
								<th>Total</th>
							</tr>
							<tr>
								<th>Lines</th>
								<td>{{vm.newphones.linesuccess}}</td>
								<td>{{vm.newphones.lineerrors}}</td>
								<td>{{vm.newphones.total}}</td>
								<td>{{vm.phones.length}}</td>
							</tr>
							<tr>
								<th>Phones</th>
								<td>{{vm.newphones.phonesuccess}}</td>
								<td>{{vm.newphones.phoneerrors}}</td>
								<td>{{vm.newphones.total}}</td>
								<td>{{vm.phones.length}}</td>
							</tr>
							
						</table>
						</div>
					</div>

					<div style="margin:50px"></div>
					<legend ng-show="vm.newphones">Summary Report</legend>
					<div class="table-responsive">
						<table ng-show="vm.newphones" class="table table-striped table-condensed table-bordered table-hover" style="background-color: white;">
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Line</th>
								<th>Phone</th>
								

							</tr>
							<tr ng-repeat="phone in vm.newphones">
								<td style="display:none" ng-init="vm.newphones.total = vm.newphones.total + 1"></td>
								<td><b>{{ phone.Phone.request.name}}</b></td>
								<td>{{ phone.Phone.request.description}}</td>
								<td>
									<div ng-if="phone.Line" class="table-responsive">
									<table class="table table-bordered table-hover" style="background-color: transparent;">
										<tr ng-repeat="(k,v) in phone.Line">
											<!--Hide the row data if it equals request-->
											<td ng-if="k != 'request'"><b>{{k}}</b></td>
											<td ng-if="k != 'request'"><i ng-if="k == 'status' && v == 'error'"  ng-init="vm.newphones.lineerrors = vm.newphones.lineerrors + 1"class="fa fa-exclamation-triangle"></i><i ng-if="k == 'status' && v == 'success'"  ng-init="vm.newphones.linesuccess = vm.newphones.linesuccess + 1" class="fa fa-check-square-o" aria-hidden="true"></i> {{v}}</td>
										</tr>		
									</table>
									</div>
								</td>
								<td>
									<div ng-if="phone.Phone" class="table-responsive">
										<table class="table table-bordered table-hover table-responsive" style="background-color: transparent;">
											<tr ng-repeat="(k,v) in phone.Phone">
												<!--Hide the row data if it equals request-->
												<td ng-if="k != 'request'"><b>{{k}}</b></td>
												<td ng-if="k != 'request'"><i ng-if="k == 'status' && v == 'error'" ng-init="vm.newphones.phoneerrors = vm.newphones.phoneerrors + 1" class="fa fa-exclamation-triangle"></i><i ng-if="k == 'status' && v == 'success'" ng-init="vm.newphones.phonesuccess = vm.newphones.phonesuccess + 1" class="fa fa-check-square-o" aria-hidden="true"></i> {{v}}</td>
											</tr>		
										</table>
									</div>
								</td>
							</tr>
						</table>
					
					</div>
				</div>
				
				<div style="margin:25px"></div>
				<div class="modal-footer">

				
				<!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
				<a class="btn btn-danger btn-sm" ng-if="!vm.newphones" ng-click="vm.deployphonescucm(vm.phones)">Deploy</a>
				<a class="btn btn-primary btn-sm" ng-if="vm.newphones" data-dismiss="modal" ng-click="vm.refresh()">Finish</a>
				<a class="btn btn-primary btn-sm" ng-if="!vm.newphones" data-dismiss="modal">Cancel</a>
				<div style="margin:100px"></div>
				</div>
			</div>
		</div>
	</div> <!-- npa of Modal -->
