<div style="margin:100px"></div>

<div style="margin-left:80px; margin-right:80px;">
	<div class="well form-horizontal" style="margin-top:10px;" >
	
		<div class="well" style="background-color: #f1f3f3;">
			<div style="margin:50px"></div>
		
			<legend>Phone Plan Details<button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button><br> <div style="margin:10px"></div></legend>
		
		
			<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr class="success">
							<th>
								<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
									ID
										<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

						
							<th>
								<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse" style="color:black">
									Name
										<span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'description'; sortReverse = !sortReverse" style="color:black">
									Description
										<span ng-show="sortType == 'description' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'description' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'language'; sortReverse = !sortReverse" style="color:black">
									Language
										<span ng-show="sortType == 'language' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'language' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'site'; sortReverse = !sortReverse" style="color:black">
									Site
										<span ng-show="sortType == 'site' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'site' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'notes'; sortReverse = !sortReverse" style="color:black">
									Notes
										<span ng-show="sortType == 'notes' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'notes' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>


							<th>
								<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
									Created At
										<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
									Updated At
										<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
						</tr>
					</thead>
					
					<tbody>

					<tr>
							
							<td>{{ vm.site.id}}</a></td>
							<td>{{ vm.site.name}}</td>
							<td>{{ vm.site.description}}</a></td>
							<td>{{ vm.site.language}}</td>
							<td>{{ vm.site.site}}</td>
							<td>{{ vm.site.notes}}</td>
							<td>{{ vm.site.created_at}}</td>
							<td>{{ vm.site.updated_at}}</td>
					</tr>
					</tbody>
				</table>
			</div>


		
		<div ng-if="!vm.phones">
			<legend >Loading... Please be patient... </legend>
			<div class="well">
				<div class="row">
					<div class="container loader"></div>
				</div>
				<div style="margin:25px"></div>
			</div>
		</div>
		

		<div style="margin:25px"></div>
			
		<!--After done loading Print the TAble-->
		<div ng-if="vm.phones">		
			
		<div style="margin:25px"></div>
			
			
		<div style="margin:75px"></div>
		
		<legend >Phones and Users</legend>
			
					
		<div class="input-group col-md-3 ">
			<input type="text" class="form-control" ng-model="vm.search" ng-model-options="{ debounce: 10 }" placeholder="Search" name="srch-term" id="srch-term">
			<div class="input-group-btn">
				<button class="btn btn-default btn-disabled" ng-click="vm.search = undefined"><i class="glyphicon glyphicon-search"></i>
			</div>

		</div>
		<div style="margin:25px"></div>

		<!--<a href="#/phone/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>-->
		<button class="btn btn-primary btn-sm" ng-click="vm.phoneaddtoggle(vm.showaddrow)"><i class="glyphicon glyphicon-plus"></i> Add</button>
		<!--<button class="btn btn-primary btn-sm" ng-click="vm.phonebulkaddtoggle(vm.showbulkaddrows)"><i class="glyphicon glyphicon-plus"></i> Bulk Add - Needs work</button>-->
		<a href="#/phoneplan/{{ vm.site.id}}/importphones" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Bulk Add</a>
		
		<ng-include src="'siteplanning/phoneplans/createphone.html'"></ng-include>
		
		
		
		<div style="margin:25px"></div>
		
			<div class="well well-sm" style="box-shadow: 1px 1px 5px grey;" ng-if="!vm.phones.length > 0">
				<h4>No Phones or Users Found</h4>
				<p>Please add phones and users to the plan by clicking the Add button above.</p>
			</div>
			
			<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;" ng-if="vm.phones.length > 0">
				<table class="table table-striped table-condensed table-bordered table-hover">
					<thead>
						<tr class="info">
							<th><input type="checkbox" ng-model="vm.selectAll" ng-click="vm.checkAll()"/>  Select All</th>
							<th>
								<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
									ID
										<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<!--
							<th>
								<a href="" ng-click="sortType = 'parent'; sortReverse = !sortReverse" style="color:black">
									Parent ID
										<span ng-show="sortType == 'parent' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'parent' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>									
							-->
							<th>
								<a href="" ng-click="sortType = 'firstname'; sortReverse = !sortReverse" style="color:black">
									Firstname
										<span ng-show="sortType == 'firstname' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'firstname' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>							
							<th>
								<a href="" ng-click="sortType = 'lastname'; sortReverse = !sortReverse" style="color:black">
									Lastname
										<span ng-show="sortType == 'lastname' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'lastname' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'username'; sortReverse = !sortReverse" style="color:black">
									Username
										<span ng-show="sortType == 'username' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'username' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse" style="color:black">
									Name
										<span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'device'; sortReverse = !sortReverse" style="color:black">
									Device Type
										<span ng-show="sortType == 'device' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'device' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'dn'; sortReverse = !sortReverse" style="color:black">
									Directory Number
										<span ng-show="sortType == 'dn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'dn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

														
							
							
							
							<th>
								<a href="" ng-click="sortType = 'language'; sortReverse = !sortReverse" style="color:black">
									Language
										<span ng-show="sortType == 'language' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'language' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'voicemail'; sortReverse = !sortReverse" style="color:black">
									Voicemail
										<span ng-show="sortType == 'voicemail' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'voicemail' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'notes'; sortReverse = !sortReverse" style="color:black">
									Notes
										<span ng-show="sortType == 'notes' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'notes' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'system_id'; sortReverse = !sortReverse" style="color:black">
									System ID
										<span ng-show="sortType == 'system_id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'system_id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
									Created At
										<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
									Updated At
										<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<!-- Allow you to edit and delete Blocks with new buttons -->
					<tr ng-repeat="phone in vm.phones | orderBy:sortType:sortReverse | filter:vm.search: strict">
					
						<!--List View-->
						<td>
							<input type="checkbox" ng-model="phone.select" ng-click="vm.selecttouched()">
						</td>
						<td>{{ phone.id}}</a></td>
						<!--<td>{{ phone.parent}}</td>-->
						<td   ng-show="!vm.edit[phone.id]">{{ phone.firstname}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.lastname}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.username}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.name}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.device}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.dn}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.language}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.voicemail}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.notes}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.system_id}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.created_at}}</td>
						<td   ng-show="!vm.edit[phone.id]">{{ phone.updated_at}}</td>

						
						<td   ng-show="!vm.edit[phone.id]">
							<button class="btn btn-xs btn-primary"  ng-click="vm.edit[phone.id] = !vm.edit[phone.id]"> Edit </button>

							<!-- Function moved ot modal...
							<button class="btn btn-danger btn-xs " ng-click="vm.delete(phone)"> Delete </button>-->
							
							<button class="btn btn-danger btn-xs " data-toggle="modal" data-target="#{{phone.id}}-modal"> Delete </button>
						
							<!-- Are you sure Modal - Hidden Unless Delete button is Pressed -->
							<div class="modal fade" id="{{phone.id}}-modal" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4>Are you sure? <h4>
										</div>
										<div class="modal-body">
											<p>You are about to delete Phone ID: {{ phone.id}}</p>
											<table class="table table-striped table-condensed table-bordered table-hover">
												<tr>
													<th>First Name</th>
													<th>Last Name</th>
													<th>User Name</th>
													<th>Device Name</th>
													<th>Directory Number</th>
												</tr>
												<tr>
													<td>{{ phone.firstname}}</td>
													<td>{{ phone.lastname}}</td>
													<td>{{ phone.username}}</td>
													<td>{{ phone.name}}</td>
													<td>{{ phone.dn}}</td>
												</tr>
											</table>
											<p>All provisioned information will be lost. Are you sure you want to proceed?</p>
										</div>
										<div class="modal-footer">

										<!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
										<a class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete(phone)">Delete</a>
										<a class="btn btn-primary" data-dismiss="modal">Cancel</a>

											
										</div>
									</div>
								</div>
							</div> <!-- npa of Modal -->
							
							
						</td>

						<!--Edit View-->
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.firstname"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.lastname"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.username"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.name"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.device"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.dn"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.language"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.voicemail"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.notes"></td>
						<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.system_id"></td>
						<td   ng-show="vm.edit[phone.id]">{{ phone.created_at}}</td>
						<td   ng-show="vm.edit[phone.id]">{{ phone.updated_at}}</td>
						
						<td  ng-show="vm.edit[phone.id]">
							<button class="btn btn-xs btn-primary"  ng-click="vm.update(phone);vm.edit[phone.id] = !vm.edit[phone.id]"> Save </button>
							<button class="btn btn-xs btn-warning"  ng-click="vm.edit[phone.id] = !vm.edit[phone.id]"> Undo </button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<!--<a href="#/phone/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>-->
			<button ng-if="vm.deleteall" class="btn btn-danger"  ng-click="vm.deleteselected(vm.phones)">Delete Selected</button>
			<button ng-if="vm.deleteall" class="btn btn-primary" ng-click="vm.refresh()">Reset</button>
			
			
			<button ng-if="vm.phones.length > 0" class="btn btn-info"  ng-click="vm.getusernames(vm.phones)">Verify Users Exist in AD</button>
			<button ng-if="vm.phones.length > 0" class="btn"  ng-click="vm.updateUserIPPhone(vm.phones)">Update AD Users IPPhone</button>
			<button ng-if="vm.phones.length > 0" class="btn"  ng-click="vm.checkldapnames(vm.phones)">Verify Users Exist</button>
			
			<div style="margin:50px"></div>
			
			
			<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;" ng-if="vm.users">
				<table class="table table-striped table-condensed table-bordered table-hover">
					<thead>
						<tr class="warning">
							<th>
								<a href="" ng-click="sortType = 'username'; sortReverse = !sortReverse" style="color:black">
									Phone ID
										<span ng-show="sortType == 'username' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'username' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'username'; sortReverse = !sortReverse" style="color:black">
									Username
										<span ng-show="sortType == 'username' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'username' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'result.user'; sortReverse = !sortReverse" style="color:black">
									AD User
										<span ng-show="sortType == 'result.user' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'result.user' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'ipphone'; sortReverse = !sortReverse" style="color:black">
									IPPhone Number
										<span ng-show="sortType == 'ipphone' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'ipphone' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in vm.users | orderBy:sortType:sortReverse | filter:vm.search: strict">
							<td>{{ user.id}}</td>
							<td>{{ user.username}}</td>
							<td>{{ user.result.user}}</td>
							<td>{{ user.result.ipphone}}</td>
						</tr>
					</tbody>
				</table>
				
			</div>
	</div>
</div>