<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:10px"></div>

<!--<div style="margin-left:80px; margin-right:80px;">-->
<div style="margin-left:5%; margin-right:5%;">
	<div class="well form-horizontal" style="margin-top:10px;" >
	
		<div style="margin:50px"></div>

		<legend>Phone Plan Details
			<div class="btn-group pull-right">
				<button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button> 
				<a href="#/site/{{ vm.phoneplan.site}}"><button class="btn btn-default btn-sm pull-right"><i class="glyphicon glyphicon-chevron-left"></i>Back to Site Details</button> </a>
			</div>
			<br>
			<div style="margin:15px"></div>
		</legend>
		
		<div style="margin:25px">
			<ng-include src="'siteplanning/section-includes/include-sitedetails.html'"></ng-include>
			
			<hr>
			<h4><b><i class=" fa fa-phone-square"></i> Phone Plan</b></h4>
			<!-- Include Phones Table Panel -->
			<ng-include src="'siteplanning/phoneplans/phoneplan-includes/phoneplan-details-table.html'"></ng-include>
			
				
			<div style="margin:50px"></div>
			
			<div ng-if="!vm.phones">
				<legend >Loading... Please be patient... </legend>
				<div class="well">
					<div class="row">
						<div class="container loader"></div>
					</div>
					<div style="margin:25px"></div>
				</div>
			</div>
			

			<div style="margin:25px"></div>
				
			<!--After done loading phones, print out the rest of the page-->
			<div ng-if="vm.phones">		
					
				<div style="margin:50px"></div>

				
				<p><i style="color:red"><b>Note! </b></i>For System Performance Reasons, <b>Please limit 100 phones per Phone Plan.</b> <br><br>
				Please Split your phone list up into multiple phone plans if greater than 100 phones and users.</p>
				

				<!-- Only show the Add buttons here if there are no phones in the plan. -->
				<div ng-if="!vm.phones.length > 0">
				
					<div style="margin:25px"></div>

					<!--<a href="#/phone/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>-->
					<button class="btn btn-primary btn-sm" ng-if="vm.permissions.create.Phone" ng-click="vm.phoneaddtoggle(vm.showaddrow)"><i class="glyphicon glyphicon-plus"></i> Add</button>
					<!--<button class="btn btn-primary btn-sm" ng-click="vm.phonebulkaddtoggle(vm.showbulkaddrows)"><i class="glyphicon glyphicon-plus"></i> Bulk Add - Needs work</button>-->
					<a href="#/phoneplan/{{ vm.phoneplan.id}}/importphones" ng-if="vm.permissions.create.Phone" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Bulk Add</a>
					
					
					
					<ng-include src="'siteplanning/phoneplans/createphone.html'"></ng-include>
					

					<div style="margin:25px"></div>
				
					<div class="well well-sm" style="box-shadow: 1px 1px 5px grey;" ng-if="!vm.phones.length > 0">
						<h4>No Phones or Users Found</h4>
						<p>Please add phones and users to the plan by clicking the Add button above.</p>
					
					
					
					</div>
				
				</div>
					
				<div ng-if="vm.phones.length > 0">
					<div style="margin:25px"></div>
					
					<!-- Include Phones Table Panel -->
					<ng-include src="'siteplanning/phoneplans/phoneplan-includes/phoneplan-phonetable-panel.html'"></ng-include>
					
					<!-- Include System Provisioning Panel -->
					<ng-include src="'siteplanning/phoneplans/phoneplan-includes/phoneplan-system-provisioning-panel.html'"></ng-include>
					
				</div>
			</div>
		</div>
	</div>
</div>