<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:10px"></div>
<div style="margin-left:80px; margin-right:80px;">
<div class="well">
<div style="margin:50px"></div>

	<div class="row">
	
		
	
		<div class="col-sm-12 col-lg-12">
				<script type="text/ng-template" id="error-messages">
								<div ng-message='required'> This Field is required </div>
								<div ng-message='minlength'> Too short </div>
								<div ng-message='maxlength'> Too long </div>
				</script>
					
					<legend>Import Number Blocks
					<a href="#/didblock"><button class="btn btn-default btn-sm pull-right"><i class="glyphicon glyphicon-chevron-left"></i>Back to Number List</button> </a> <!-- What to put here...-->
					<br> <div style="margin:15px"></div>
					</legend>
					
					<!--<pre ng-if="!vm.numberstable" class="col-lg-12"><b><h5>1 row per line</b><br><br>Paste Rows of phones from the Excel Phone Template into the text box for import.<br><br><h5><b>Phone Template </b><a href="/telephony/storage/PhoneImportTemplate.xlsx"><button class="btn btn-danger btn-xs">Download</button></a></pre>-->
					<pre ng-if="!vm.didblocktable" class="col-lg-12"><b><h5>1 row per line</b><br><br>Paste Rows of Number Blocks from the Excel Template into the text box for import.<br><br><h5><b>Number Block Template </b><a href="/telephony/storage/DIDBlockImportTemplate.xlsx"><button class="btn btn-danger btn-xs">Download</button></a></pre>

						<form ng-if="!vm.didblocktable" class="form" role="form" id="addDidblockForm" ng-submit='addDidblockForm.$valid && vm.submitDidblock(vm.didblockForm)' novalidate name="addDidblockForm">
							
							<div class="row">
							
								<div class="col-lg-2">
									<div class="form-group" ng-class="{'has-error': addDidblockForm.delimiter.$touched && addDidblockForm.delimiter.$invalid, 'has-success': addDidblockForm.delimiter.$touched && addDidblockForm.delimiter.$valid }">
										<label for="delimiter" class="control-label">Column Delimiter</label>
										<select class="form-control" ng-model='vm.selectedOption' ng-options="delimiter.name for delimiter in vm.states" data-width="100%" name="delimiter" required >
										</select>
										<div ng-messages="addDidblockForm.delimiter.$dirty && addDidblockForm.delimiter.$error">
											<div ng-message='required'> delimiter is required </div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group" ng-class="{'has-error': addDidblockForm.blocks.$touched && addDidblockForm.blocks.$invalid, 'has-success': addDidblockForm.blocks.$touched && addDidblockForm.blocks.$valid }">
										<label for="blocks" class="control-label">Number Ranges<small> (Do not include headers) </small></label>
										<textarea ng-model='vm.didblockForm.blocks' class="form-control" placeholder=" Name	Carrier	Comment	Country Code	Start	End	Type	Reserved"
 "
											rows="10" id="blocks" name="blocks" required></textarea>
										<!--<input textarea" ng-model='vm.didblockForm.name' required class="form-control"  rows="10" name="name" placeholder="Name">-->
										<div ng-messages="addDidblockForm.blocks.$dirty && addDidblockForm.blocks.$error">
											<div ng-message='required'> Number rows are required </div>
										</div>
									</div>
								</div>
							</div>

								
							<!--
							 Print Form JSON
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
									{{vm.didblockForm}}
								</div>
							</div>
							
							-->
							
							<hr />
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12 col-lg-12">
									<div class="form-group">
										<button  type="submit" ng-disabled="addDidblockForm.$invalid" class="btn btn-primary">Submit</button>
										<button type="reset" class="btn btn-primary">Reset</button>
									</div>
								</div>
							</div>
						</form>

				
				<div style="margin:25px"></div>
				
				<!-- Loading -->
				<div ng-if="vm.loading" class="well">
					<div class="row">
						<div class="container loader"></div>
					</div>
					<div style="margin:25px"></div>
				</div>
				
				<ul ng-if="vm.didblocktable">
					<li><h4><i><b>Please review your Number Blocks before you insert them.</b></i></h4></li>
				</ul>
				<br>
				<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;" ng-if="vm.didblocktable" >
					<table class="table table-striped table-condensed table-bordered table-hover">
						<thead>
							<tr class="info">	
								<th>
									<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse" style="color:black">
										Name
											<span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>

								<th>
									<a href="" ng-click="sortType = 'carrier'; sortReverse = !sortReverse" style="color:black">
										Carrier

											<span ng-show="sortType == 'carrier' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'carrier' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'comment'; sortReverse = !sortReverse" style="color:black">
										Comment
											<span ng-show="sortType == 'comment' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'comment' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>	

								<th>
									<a href="" ng-click="sortType = 'country_code'; sortReverse = !sortReverse" style="color:black">
										Country Code
											<span ng-show="sortType == 'country_code' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'country_code' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>	
								
								<th>
									<a href="" ng-click="sortType = 'start'; sortReverse = !sortReverse" style="color:black">
										Block Start
											<span ng-show="sortType == 'start' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'start' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'end'; sortReverse = !sortReverse" style="color:black">
										Block End
											<span ng-show="sortType == 'end' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'end' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								
								
								<th>
									<a href="" ng-click="sortType = 'type'; sortReverse = !sortReverse" style="color:black">
										Type
											<span ng-show="sortType == 'type' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'type' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'reserved'; sortReverse = !sortReverse" style="color:black">
										Reserved
											<span ng-show="sortType == 'reserved' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'reserved' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								

								
								<th ng-if="vm.permissions.update.Didblock || vm.permissions.delete.Didblock">Actions</th>
							</tr>
						</thead>
				
					<tbody>
						<tr ng-repeat="number in vm.didblocktable | orderBy:sortType:sortReverse | filter:vm.search: strict">
							
							<!-- Phone Row-->
							<td ng-show="!vm.edit[number.start]">{{number.name}}</td> 
							<td ng-show="!vm.edit[number.start]">{{number.carrier}}</td> 
							<td ng-show="!vm.edit[number.start]">{{number.comment}}</td> 
							<td ng-show="!vm.edit[number.start]">{{number.country_code}}</td> 
							<td ng-show="!vm.edit[number.start]">{{number.start}}</td> 
							<td ng-show="!vm.edit[number.start]">{{number.end}}</td> 
							<td ng-show="!vm.edit[number.start]">{{number.type}}</td> 
							<td ng-show="!vm.edit[number.start]">{{number.reserved}}</td> 
							
							<td   ng-show="!vm.edit[number.start]">
								<button class="btn btn-primary btn-xs "  ng-click="vm.edit[number.start] = !vm.edit[number.start]"> Edit </button>
								<button class="btn btn-danger btn-xs " ng-click="vm.delete(number)"> Delete </button>
							</td>
							
							<!-- Updating Phone -->
							<td ng-show="vm.edit[number.start]"><input type="text" class="form-control form-control-sm" ng-model="number.name"></td> 
							<td ng-show="vm.edit[number.start]"><input type="text" class="form-control form-control-sm" ng-model="number.carrier"></td>
							<td ng-show="vm.edit[number.start]"><input type="text" class="form-control form-control-sm" ng-model="number.comment"></td>
							<td ng-show="vm.edit[number.start]"><input type="text" class="form-control form-control-sm" ng-model="number.country_code"></td>
							<td ng-show="vm.edit[number.start]"><input type="text" class="form-control form-control-sm" ng-model="number.start"></td>
							<td ng-show="vm.edit[number.start]"><input type="text" class="form-control form-control-sm" ng-model="number.end"></td>
							<td ng-show="vm.edit[number.start]"><input type="text" class="form-control form-control-sm" ng-model="number.type"></td>
							<td ng-show="vm.edit[number.start]"><input type="text" class="form-control form-control-sm" ng-model="number.reserved"></td>
							
							<td  ng-show="vm.edit[number.start]">
								<button class="btn btn-xs btn-primary"  ng-click="vm.update(number);vm.edit[number.start] = !vm.edit[number.start]"> Save </button>
								<button class="btn btn-xs btn-warning"  ng-click="vm.edit[number.start] = !vm.edit[number.start]"> Undo </button>
							</td>
						</tr>
					</tbody>
					
				</table>
					<!--{{vm.numberstable}}-->
			</div>
			
			
			<div class="row" ng-if="vm.didblocktable">
			
				
			
				<div class="col-md-6 col-sm-6 col-xs-12 col-lg-12">
				<h3>Found {{vm.didblocktable.length}} Phones</h3>
				<hr>
					<div class="form-group">
						<button class="btn btn-danger"  ng-click="vm.insertdidblocks(vm.didblocktable)"> Add <b>{{vm.didblocktable.length}}</b> Phones to Plan </button>
						<button class="btn btn-primary" ng-click="vm.refresh()">Reset</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div style="margin:25px"></div>
		</div>
		
	</div>
</div>
</div>