<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:10px"></div>

<div style="margin-left:5%; margin-right:5%;">

	<div class="well form-horizontal" style="margin-top:10px;" >
	
	<div style="margin:50px"></div>
	
	<legend>Number Block Inventory <button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button><br> <div style="margin:10px"></div></legend>
		
		<h4>Total DIDs: {{vm.resultValue | sumofValue: 'size'}}</h4>
		
		<div class="input-group col-md-3 ">
			<input type="text" class="form-control" ng-model="vm.search" ng-model-options="{ debounce: 800 }" placeholder="Search" name="srch-term" id="srch-term">
			<div class="input-group-btn">
				<button class="btn btn-default btn-disabled" ng-click="vm.search = undefined"><i class="glyphicon glyphicon-search"></i>
			</div>
		</div>
		
		
		<div style="margin:25px"></div>
		
		<a ng-show="!vm.message" href="#/didblock/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>
		
		<div style="margin:25px"></div>
		
		
		<!-- Loading -->
		<div ng-if="vm.loading && !vm.message" class="well">
			<div class="row">
				<div class="container loader"></div>
			</div>
			<div style="margin:25px"></div>
		</div>

		<div ng-if="vm.message;" class="well">
			<div class="row">
				<h4>{{vm.message}}</h4>
			</div>
			<div style="margin:65px"></div>
		</div>
		
		<div ng-if="vm.didblocks.length > 0">
		
			<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
			<div class="table-responsive">    
				<table class="table table-striped table-condensed table-bordered table-hover">
					<thead>
						<tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf)">
							<th>
								<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
									ID
										<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse" style="color:black">
									Name
										<span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'carrier'; sortReverse = !sortReverse" style="color:black">
									Carrier
										<span ng-show="sortType == 'carrier' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'carrier' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>	

							<th>
								<a href="" ng-click="sortType = 'country_code'; sortReverse = !sortReverse" style="color:black">
									Country Code
										<span ng-show="sortType == 'country_code' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'country_code' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>	
							
							<th>
								<a href="" ng-click="sortType = 'start'; sortReverse = !sortReverse" style="color:black">
									Block Start
										<span ng-show="sortType == 'start' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'start' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'end'; sortReverse = !sortReverse" style="color:black">
									Block End
										<span ng-show="sortType == 'end' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'end' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'size'; sortReverse = !sortReverse" style="color:black">
									Block Size
										<span ng-show="sortType == 'size' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'size' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'stats.available'; sortReverse = !sortReverse" style="color:black">
									Available
										<span ng-show="sortType == 'stats.available' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'stats.available' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'stats.inuse'; sortReverse = !sortReverse" style="color:black">
									Inuse
										<span ng-show="sortType == 'stats.inuse' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'stats.inuse' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'capacity'; sortReverse = !sortReverse" style="color:black">
									Capacity
										<span ng-show="sortType == 'capacity' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'capacity' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							
							<!-- Uncomment to include Chart Column. 
							<th>
									Chart

							</th>
							-->
							
							<th>
								<a href="" ng-click="sortType = 'type'; sortReverse = !sortReverse" style="color:black">
									Type
										<span ng-show="sortType == 'type' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'type' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'comment'; sortReverse = !sortReverse" style="color:black">
									Comment
										<span ng-show="sortType == 'comment' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'comment' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
									Created At
										<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
									Updated At
										<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>

					
					<!-- Allow you to edit and delete Blocks with new buttons -->
					<!--<tr ng-repeat="didblock in vm.didblocks | orderBy:sortType:sortReverse | filter:vm.search: strict">-->
					<tr ng-repeat="didblock in vm.resultValue=(vm.didblocks | orderBy:sortType:sortReverse | filter:vm.search: strict)">
					
						<!--List View-->
						<td><a ui-sref="getdidblock({id: didblock.id})"><button class="btn btn-xs btn-default btn-block">{{ didblock.id}}</button></a></td>
						<!--<td>{{ didblock.id}}</a></td>-->
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.name}}</td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.carrier}}</a></td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.country_code}}</td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.start}}</td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.end}}</td>
						<td   ng-show="!vm.edit[didblock.id]" ng-init="didblock.size = didblock.end - didblock.start + 1">{{didblock.size}}</td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.stats.available}}</td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.stats.inuse}}</td>
						<td   ng-show="!vm.edit[didblock.id]" ng-init="didblock.capacity = didblock.stats.inuse / didblock.size * 100">{{didblock.capacity | number:0}}%</td>
						
						<!-- Chart Removed. Too intensive and takes to long to load. 
						
						<td   ng-show="!vm.edit[didblock.id]">
							<canvas id="base" class="chart-horizontal-bar"
								chart-data="didblock.chartdata" chart-labels="didblock.chartlabels" >
							</canvas> 
						</td>
						-->
						
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.type}}</td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.comment}}</td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.created_at}}</td>
						<td   ng-show="!vm.edit[didblock.id]">{{ didblock.updated_at}}</td>
						<td   ng-show="!vm.edit[didblock.id]">
							<button class="btn btn-primary btn-xs "  ng-click="vm.edit[didblock.id] = !vm.edit[didblock.id]"> Edit </button>
							
							<!-- Function moved ot modal...
							<button class="btn btn-danger btn-xs " ng-click="vm.delete(didblock)"> Delete </button>-->
							
							<button class="btn btn-danger btn-xs " data-toggle="modal" data-target="#{{didblock.id}}-modal"> Delete </button>
						
							<!-- Are you sure Modal - Hidden Unless Delete button is Pressed -->
							<div class="modal fade" id="{{didblock.id}}-modal" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4>Are you sure? <h4>
										</div>
										<div class="modal-body">
											<p>You are about to delete Bloock ID: {{ didblock.id}}</p>
											<table class="table table-striped table-condensed table-bordered table-hover">
												<tr>
													<th>Name</th>
													<th>Start</th>
													<th>End</th>
												</tr>
												<tr>
													<td>{{ didblock.name}}</td>
													<td>{{ didblock.start}}</td>
													<td>{{ didblock.end}}</td>
												</tr>
											</table>
											<p>All provisioned information will be lost. Are you sure you want to proceed?</p>
										</div>
										<div class="modal-footer">

										<!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
										<a class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete(didblock)">Delete</a>
										<a class="btn btn-primary" data-dismiss="modal">Cancel</a>

											
										</div>
									</div>
								</div>
							</div> <!-- End of Modal -->
							
							
						</td>

						<!--Edit View-->
						<td   ng-show="vm.edit[didblock.id]"><input type="text" class="form-control form-control-sm" ng-model="didblock.name"></td>
						<td   ng-show="vm.edit[didblock.id]"><input type="text" class="form-control form-control-sm" ng-model="didblock.carrier"></td>
						<td   ng-show="vm.edit[didblock.id]">{{ didblock.country_code}}</td>
						<td   ng-show="vm.edit[didblock.id]">{{ didblock.start}}</td>
						<td   ng-show="vm.edit[didblock.id]">{{ didblock.end}}</td>
						<td   ng-show="vm.edit[didblock.id]" ng-init="didblock.size = didblock.end - didblock.start + 1;">{{didblock.size}}</td>
						<td   ng-show="vm.edit[didblock.id]">{{ didblock.stats.available}}</td>
						<td   ng-show="vm.edit[didblock.id]">{{ didblock.stats.inuse}}</td>
						<td   ng-show="vm.edit[didblock.id]" ng-init="didblock.capacity = didblock.stats.inuse / didblock.size * 100">{{didblock.capacity | number:0}}%</td>
						
						<td   ng-show="vm.edit[didblock.id]">{{ didblock.type}}</td>
						<td   ng-show="vm.edit[didblock.id]"><textarea class="form-control form-control-sm" ng-model="didblock.comment"></textarea></td>
						<td   ng-show="vm.edit[didblock.id]">{{ didblock.created_at}}</td>
						<td   ng-show="vm.edit[didblock.id]">{{ didblock.updated_at}}</td>
						
						<td  ng-show="vm.edit[didblock.id]">
							<button class="btn btn-xs btn-primary"  ng-click="vm.edit[didblock.id] = !vm.edit[didblock.id]"> Save </button>
							<button class="btn btn-xs btn-warning"  ng-click="vm.edit[didblock.id] = !vm.edit[didblock.id]"> Undo </button>
						</td>
						

							
						
						
					</tr>
							
					</tbody>
				</table>
			</div>
			</div> <!--End of Panel-->
			
			<a href="#/didblock/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>
			
		</div>
	</div>
</div>

	

