	<h3 ng-if="vm.migration.type">Migration Actions - Convert to Design Type {{vm.migration.type}}</h3>
			<br>
			<div ng-if="vm.migration.change_summary">
				<p><b>The following actions are needed in order to convert the site to the new design type.</b></p>
				<ol>
					<li>Add the new required objects. </li>
					<li>Phone Updates to lines and phones. </li>
					<li>Update Objects. </li>
					<li>Review the ManualReview Objects to see if there are any manual changes required. </li>
					<li>Delete old objects that are no longer required. </li>
				</ol>
			</div>
			<br>
			<!--<hr>
			<h4>Object Adds</h4>-->
			<div class="panel-group" id="accordion">
				<div ng-repeat="(changekey,changevalues) in vm.migration.change_summary">
					
					<!--Hide the accordian if there is no contents. -->
					<div ng-show="changevalues.count" ng-if="changekey == 'Add' || changekey == 'Update' || changekey == 'Delete' || changekey == 'ManualReview' || changekey == 'Skip' || changekey == 'PhoneUpdate'" "class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
						
						<div class="panel-heading" role="tab" id="{{changekey}}" style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf)">

							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" ng-href="" ng-click="vm.accordianclose()" data-target="#{{changekey}}_collapse" style="color:black;cursor: pointer;" aria-expanded="false" aria-controls="{{changekey}}_collapse">
								<h4><b><i class="fa fa-server"></i> {{changekey}} Objects <span class="badge badge-inverse">{{changevalues.count}}</span> <i class="fa fa-caret-down"></i></b></h4>
								<!-- Badge example https://codepen.io/MarcosBL/pen/uomCD -->
							</a>
						</div>
						
						<div class="panel-body panel-collapse collapse" role="tabpanel" id="{{changekey}}_collapse" aria-labelledby="{{changekey}}">
							<legend class="ng-binding"> Site: {{vm.sitecode}} - {{changekey}} Objects</legend>
							<!--<div class="table-responsive">
							<table style="background-color:white" ng-show="changevalues" class="table table-striped table-condensed table-bordered table-hover">
								<tr ng-repeat="(key,values) in changevalues">
									<td><b>{{values.length}} - {{ key}}</b></td>
									<td>-->
									
									<!-- Tab Content -->
									
									<ul class="nav nav-pills" >
										<li class="active"><a data-toggle="tab" ng-click="vm.tabclose()" ng-href="" data-target="#{{changekey}}_test_tab">Home</a></li>
										<li ng-if="key != 'count'" ng-repeat="(key,values) in changevalues"><a data-toggle="tab" ng-click="vm.tabclose()" ng-href="" data-target="#{{changekey}}_{{ key}}_tab">{{ key}} <span class="badge badge-info">{{values.count}}</span></a></li>
									</ul>

									<br>
									
									<div class="tab-content">
									
										<!-- Tab -->
										<div id="{{changekey}}_test_tab" class="tab-pane fade in active">
											<br>
											<p><span style="color:#337ab7;"><b>Note! </b></span>Click each tab to review the objects that will be {{changekey}}ed.</p>
											<div ng-if="changekey == 'Add'">
												<ul>
													<li>This can be done at any time.</li>
													<li>Adds should not affect production</li>
												</ul>
											</div>
											<div ng-if="changekey == 'Update'">
												<ul>
													<li>This should be scheduled.</li>
													<li>Updates affect production call routing and handling. </li>
													<li>Testing is required after these changes are implemented.</li>
												</ul>
											</div>
											<div ng-if="changekey == 'Delete'">
												<ul>
													<li>This removes objects from Prodcution.</li>
													<li>This should not be done until everything has tested successfully.</li>
													<li>Testing should be done after these changes are implemented.</li>
												</ul>
											</div>
											<div ng-if="changekey == 'PhoneUpdate'">
												<ul>
													<li>This updates all the phones and lines in the site devicepool.</li>
													<li>This should be done after the Add and Updates are completed.</li>
													<li>Testing should be done after these changes are implemented.</li>
												</ul>
											</div>
											<div ng-if="changekey == 'Skip'">
												<ul>
													<li>These objects were skipped as they already conform to the new standard for this design type.</li>
													<li>Review to make see if anything was missed.</li>
												</ul>
											</div>
											<div ng-if="changekey == 'ManualReview'">
												<ul>
													<li>No changes are made to these objects but the have been idetified as nonstandard.</li>
													<li>These should be reviewed and manually updated if changes is desired.</li>
												</ul>
											</div>
										</div>
										
									</div>

									<!-- Tab Content -->
									<div ng-if="key != 'count'" id="{{changekey}}_tab_content"class="tab-content" ng-repeat="(key,values) in changevalues">
										<div style="display:none" ng-init="changevalues.count = changevalues.count + 1"></div>
										<!-- Tab -->
										<div ng-if="key != 'count'" id="{{changekey}}_{{ key}}_tab" class="tab-pane fade">
										
										<table class="table table-bordered table-hover table-responsive table-condensed" style="background-color: transparent;" ng-if="changekey != 'CurrentSummary'">
											<tr ng-repeat="value in values">
												<td style="display:none" ng-init="values.count = values.count + 1"></td>
												<td ng-if="value != 'count'">
													<table class="table table-bordered table-hover table-responsive table-condensed" style="background-color: transparent;">
														<tbody style="font-size:12px">
															<tr ng-repeat="(k,v) in value track by $index">
																<td><b>{{k}}</b></td>
																<td ng-if="k == 'name'" style="color:#20bc56"><b>{{v}}</b></td>
																<td ng-if="k == 'pattern'" style="color:#20bc56"><b>{{v}}</b></td>
																<td ng-if="k == 'addMembers'"><pre>{{vm.jsonPrettyprint(v)}}</pre></td>
																<td ng-if="k == 'removeMembers'"><pre>{{vm.jsonPrettyprint(v)}}</pre></td>
																
																<td ng-if="k == 'members'"><pre>{{vm.jsonPrettyprint(v)}}</pre></td>
																<td ng-if="k == 'localRouteGroup'"><pre>{{vm.jsonPrettyprint(v)}}</pre></td>
																<td ng-if="k == 'relatedRegions'"><pre>{{vm.jsonPrettyprint(v)}}</pre></td>
																<td ng-if="k == 'partitionUsage' && v == 'Intercom'" style="color:red"><b>{{v}}</b></td>
																<td ng-if="k != 'name' && k != 'pattern' && k != 'members' && 
																	k != 'addMembers' && k != 'removeMembers' && k != 'relatedRegions' && k != 'localRouteGroup' ">
																{{v}}</td>
															</tr>	
														</tbody>
													</table>
												</td>
											</tr>	
										</table>
											
										<table class="table table-bordered table-hover table-responsive table-condensed" style="background-color: transparent;" ng-if="changekey == 'CurrentSummary'">
											<tbody style="font-size:12px">
												<tr ng-repeat="(k,v) in values track by $index">
													<td><b>{{k}}</b></td>
													<td ng-if="k == 'name'" style="color:#20bc56"><b>{{v}}</b></td>
													<td ng-if="k == 'pattern'" style="color:#20bc56"><b>{{v}}</b></td>
													<td ng-if="k != 'name' && k != 'pattern'">{{v}}</td>
												</tr>	
											</tbody>
										</table>
											
										</div>
										
									</div>
									<!--</td>
								</tr>
							</table>
							</div>-->
							<hr>
							<p ng-if="changekey == 'Delete'" ><b><span style="color:red">WARNING! </span>DO NOT RUN THIS PIECE UNTIL YOU ARE ABSOLUTELY CERTAIN ALL IS WORKING AFTER MIGRATION.</b><br><br></p>
							<p><b style="color:red">Warning!</b> Running this migration will <b>{{changekey}}</b> objects in the CUCM Production System realtime.</p>
							<button class="btn btn-default btn-sm" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
							
							<!--
							<button class="btn btn-success btn-sm" ng-if="changekey == 'Add'" ng-click="vm.runmigration('Add')"><i class="glyphicon glyphicon-plus"></i> Run Migration {{changekey}}s</button>
							<button class="btn btn-primary btn-sm" ng-if="changekey == 'Update'" ng-click="vm.runmigration('Update')"><i class="glyphicon glyphicon-save"></i> Run Migration {{changekey}}s</button>
							<button class="btn btn-danger btn-sm" ng-if="changekey == 'Delete'" ng-click="vm.runmigration('Delete')"><i class="glyphicon glyphicon-remove"></i> Run Migration {{changekey}}s</button>
							-->

							<button class="btn btn-success btn-sm " ng-if="changekey == 'Add'" data-toggle="modal" data-target="#{{changekey}}-modal"><i class="glyphicon glyphicon-plus"></i> Run Migration {{changekey}}s</button>
							<button class="btn btn-primary btn-sm " ng-if="changekey == 'Update'" data-toggle="modal" data-target="#{{changekey}}-modal"><i class="glyphicon glyphicon-plus"></i> Run Migration {{changekey}}s</button>
							<button class="btn btn-danger btn-sm " ng-if="changekey == 'Delete'" data-toggle="modal" data-target="#{{changekey}}-modal"><i class="glyphicon glyphicon-plus"></i> Run Migration {{changekey}}s</button>
							<!--<button class="btn btn-danger btn-sm " ng-if="changekey == 'ManualReview'" data-toggle="modal" data-target="#{{changekey}}-modal"><i class="glyphicon glyphicon-plus"></i> Run Migration {{changekey}}s</button>
							-->
							<button class="btn btn-primary btn-sm " ng-if="changekey == 'PhoneUpdate'" data-toggle="modal" data-target="#PhoneUpdateOverride-modal"><i class="glyphicon glyphicon-plus"></i> Run Migration {{changekey}}s</button>
							
							<div style="margin:25px"></div>
							<div ng-if="changekey == 'Add' || changekey == 'Update' || changekey == 'Delete'  || changekey == 'ManualReview' || changekey == 'PhoneUpdate'">
								<ng-include src="'site-migrations/migrations/section-includes/include-migration-modal.html'"></ng-include>
							</div>
							<div ng-if="changekey == 'PhoneUpdate'">
								<ng-include src="'site-migrations/migrations/section-includes/include-phone-line-update-modal.html'"></ng-include>
							</div>
							
						</div>
					</div>
				</div>	