					
			<div class="panel-group" id="accordion" ng-if="!vm.loading">
				
					<div "class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
						
						<div class="panel-body" style="background-color: white;">
							<div  ng-if="vm.site">
	
								<h4><b><i class="fa fa-building-o"></i> Site Information</b></h4>

								<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
									<div class="table-responsive">    
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf)">
													<th>
														<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
															ID
																<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>

													<th>
														<a href="" ng-click="sortType = 'sitecode'; sortReverse = !sortReverse" style="color:black">
															Sitecode
																<span ng-show="sortType == 'sitecode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'sitecode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>

													<th>
														<a href="" ng-click="sortType = 'srstip'; sortReverse = !sortReverse" style="color:black">
															Srst IP
																<span ng-show="sortType == 'srstip' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'srstip' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>	

													<th>
														<a href="" ng-click="sortType = 'h323ip'; sortReverse = !sortReverse" style="color:black">
															H323 Gateway IPs
																<span ng-show="sortType == 'country_code' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'country_code' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>	
													
													<th>
														<a href="" ng-click="sortType = 'timezone'; sortReverse = !sortReverse" style="color:black">
															CUCM Date & Time Group
																<span ng-show="sortType == 'timezone' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'timezone' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>
													

													<th>
														<a href="" ng-click="sortType = 'trunking'; sortReverse = !sortReverse" style="color:black">
															Trunking
																<span ng-show="sortType == 'trunking' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'trunking' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>
													
													<th>
														<a href="" ng-click="sortType = 'e911'; sortReverse = !sortReverse" style="color:black">
															911
																<span ng-show="sortType == 'e911' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'e911' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>
													
													<th>
														<a href="" ng-click="sortType = 'phonecount'; sortReverse = !sortReverse" style="color:black">
															Phone Count
																<span ng-show="sortType == 'phonecount' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'phonecount' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>

													

													<th>
														<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
															Created At
																<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>
													
													<th>
														<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
															Updated At
																<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
																<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
														</a>
													</th>
												</tr>
											</thead>
											
											<tbody>

											<tr>
													<td>{{ vm.site.id}}</a></td>
													<td>{{ vm.site.sitecode}}</td>
													
													<td> <span ng-repeat="srst in vm.site.sitesummary.Srst">{{ srst}} </span> </td>
													<td> <span ng-repeat="gateway in vm.site.sitesummary.H323Gateway">{{ gateway}} </span> </td>
													<td><span ng-repeat="devicepool in vm.site.sitedetails.DevicePool">{{ devicepool.dateTimeSettingName._}} </span> </td>

													<td>
														<i ng-if="vm.site.trunking == 'sip'" class="fa fa-check-square-o" aria-hidden="true"></i>
														<i ng-if="vm.site.trunking == 'local'" class="fa fa-square-o" aria-hidden="true"></i>
														<i ng-if="!vm.site.trunking" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom" aria-hidden="true"></i>
														{{vm.site.trunking}}
													</td>
													<td>
														<i ng-if="vm.site.e911 == '911enable'" class="fa fa-check-square-o" aria-hidden="true"></i>
														<i ng-if="vm.site.e911 == 'local'" class="fa fa-square-o" aria-hidden="true"></i>
														<i ng-if="!vm.site.e911" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom" aria-hidden="true"></i>
														
														{{vm.site.e911}}
													</td>
													
													<td>{{ vm.site.phonecount}}</td>
													
													<td>{{ vm.site.created_at}}</td>
													<td>{{ vm.site.updated_at}}</td>
											</tr>
											</tbody>
										</table>
										</div>
								</div>
							</div>
							<div style="margin:25px"></div>
							
							<div style="margin:25px"></div>
							<!--<legend class="ng-binding"> Site: {{vm.sitecode}} - Current Details</legend>
							<div class="table-responsive">
							<table style="background-color:white" ng-show="changevalues" class="table table-striped table-condensed table-bordered table-hover">
								<tr ng-repeat="(key,values) in changevalues">
									<td><b>{{values.length}} - {{ key}}</b></td>
									<td>-->
									
									<!-- Tab Content -->
									
									<ul class="nav nav-tabs" >
										<li class="active"><a data-toggle="tab" ng-click="vm.tabclose()" ng-href="" data-target="#CurrentDetails_test_tab">Home</a></li>
										<li ng-repeat="(key,values) in vm.migration.change_summary.CurrentDetails"><a data-toggle="tab" ng-click="vm.tabclose()" ng-href="" data-target="#CurrentDetails_{{ key}}_tab">{{ key}}</a></li>
									</ul>
									
									
									<div class="tab-content">
									
										<!-- Tab -->
										<div id="CurrentDetails_test_tab" class="tab-pane fade in active">
										<br>
										<p><span style="color:red;"><b>Note! </b></span>Click the object tab to review the current objects for each type.</p>
										<br>
										<h4><b>Current Design State: </b>Type {{vm.site.type}}</h4>
										</div>
										
									</div>

									<!-- Tab Content -->
									<div id="CurrentDetails_tab_content"class="tab-content" ng-repeat="(key,values) in vm.migration.change_summary.CurrentDetails">
									
										<!-- Tab -->
										<div id="CurrentDetails_{{ key}}_tab" class="tab-pane fade">
										
										<table class="table table-bordered table-hover table-responsive table-condensed" style="background-color: transparent;" >
											<tr ng-repeat="value in values">
												<td>
													<table class="table table-bordered table-hover table-responsive table-condensed" style="background-color: transparent;">
														<tbody style="font-size:12px">
															<tr ng-repeat="(k,v) in value track by $index">
																<td><b>{{k}}</b></td>
																<td ng-if="k == 'name'" style="color:#20bc56"><b>{{v}}</b></td>
																<td ng-if="k == 'pattern'" style="color:#20bc56"><b>{{v}}</b></td>
																<td ng-if="k == 'members'"><pre>{{vm.jsonPrettyprint(v)}}</pre></td>
																<td ng-if="k == 'relatedRegions'"><pre>{{vm.jsonPrettyprint(v)}}</pre></td>
																<td ng-if="k == 'partitionUsage' && v == 'Intercom'" style="color:red"><b>{{v}}</b></td>
																<td ng-if="k != 'name' && k != 'pattern' && k != 'members' && k != 'relatedRegions'">{{v}}</td>
															</tr>	
														</tbody>
													</table>
												</td>
											</tr>	
										</table>

											
										</div>
										
									</div>
									<!--</td>
								</tr>
							</table>
							</div>-->
							<hr>
							
							<button class="btn btn-default btn-sm" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>

							
						</div>
				
				</div>	