<!--Print Chart-->

<div class="container" style="display: block; max-width: 750px;" ng-if="!vm.error" div ng-controller="CallGraph.IndexController as vm">
	<div class="panel panel-default"  style="box-shadow: 1px 1px 5px grey;" ng-if="vm.callgraph">
		<div class="panel-heading"><h4><b>1 Month - SBC Call Summary</b></h4></div>
		
		<div >
			<canvas id="weekcalls" class="chart chart-line chart-xs"
				chart-series="vm.callgraph.chartseries" 
				chart-data="vm.callgraph.chartdata" 
				chart-labels="vm.callgraph.chartlabels"
				chart-options="vm.callgraph.chartoptions">
			</canvas>
		</div>
	</div>
</div>

<div style="margin:25px"></div>