<div style="margin:100px"></div>

<div class="container">
<div class="well">
<div style="margin:50px"></div>

	<div class="row">
		<div class="col-md-12 col-sm-8 col-lg-8 col-md-offset-2">
			<script type="text/ng-template" id="error-messages">
							<div ng-message='required'> This Field is required </div>
							<div ng-message='minlength'> Too short </div>
							<div ng-message='maxlength'> Too long </div>
			</script>
			<div class="panel panel-primary">
				<div class="panel-heading"><h3>Create New Site - This needs work!</h3></div>
				<div class="panel-body">
					<form class="form" role="form" id="addsiteForm" ng-submit='addsiteForm.$valid && vm.submitsite(vm.siteForm)' novalidate name="addsiteForm">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.sitecode.$touched && addsiteForm.sitecode.$invalid, 'has-success': addsiteForm.name.$touched && addsiteForm.name.$valid }">
									<label for="sitecode" class="control-label">Sitecode</label>
									<input type="text" ng-model='vm.siteForm.sitecode' required class="form-control"  name="sitecode" placeholder="Sitecode" ng-minlength='8' ng-maxlength='8'>
									<div ng-messages="addsiteForm.sitecode.$dirty && addsiteForm.sitecode.$error">
										<div ng-message='required'> Sitecode is required </div>
										<div ng-message='minlength'>Please enter a Sitecode at least 8 chars long</div>
										<div ng-message='maxlength'>Name entered cannot be longer than 8 chars</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">	
							

							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.carrier.$touched && addsiteForm.carrier.$invalid, 'has-success': addsiteForm.carrier.$touched && addsiteForm.carrier.$valid }">
									<label for="carrier" class="control-label">Carrier</label>
									<input type="text" ng-model='vm.siteForm.carrier' class="form-control"  name="carrier" placeholder="Carrier" ng-minlength='1' ng-maxlength='50'>
									<div ng-messages="addsiteForm.carrier.$dirty && addsiteForm.carrier.$error">
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.comment.$touched && addsiteForm.comment.$invalid, 'has-success': addsiteForm.comment.$touched && addsiteForm.comment.$valid }">
									<label for="comment" class="control-label">Comment</label>
									<input type="textarea" ng-model='vm.siteForm.comment' class="form-control" name="comment" placeholder="Comment">
									<div ng-messages="addsiteForm.comment.$dirty && addsiteForm.comment.$error">
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
							<!--
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.countrycode.$touched && addsiteForm.countrycode.$invalid, 'has-success': addsiteForm.countrycode.$touched && addsiteForm.countrycode.$valid }">
									<label for="countrycode" required class=" control-label">Country Code</label>
									<input type="text" required ng-pattern='/[0-9]+/' ng-model='vm.siteForm.country_code' class="form-control" name="countrycode" placeholder="1">
									<div ng-messages="addsiteForm.countrycode.$dirty && addsiteForm.countrycode.$error">
										<div ng-message="pattern">Please enter a valid country code</div>
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
							-->
						</div>
						<div class="row">

							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.npa.$touched && addsiteForm.npa.$invalid, 'has-success': addsiteForm.npa.$touched && addsiteForm.npa.$valid }">
									<label for="npa" required class=" control-label">NPA (Area Code)</label>
									<input type="text" required ng-pattern='/^[0-9]+/' ng-model='vm.siteForm.npa' class="form-control" name="npa" placeholder="402" ng-minlength='3' ng-maxlength='3'>
									<div ng-messages="addsiteForm.npa.$dirty && addsiteForm.npa.$error">
										<div ng-message="pattern">Please enter the npa in the numberic format</div>
										<div ng-message='minlength'>Please enter least 3 digits</div>
										<div ng-message='maxlength'>Please enter least 3 digits</div>
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.nxx.$touched && addsiteForm.nxx.$invalid, 'has-success': addsiteForm.nxx.$touched && addsiteForm.nxx.$valid }">
									<label for="nxx" required class=" control-label">NXX (Next 3 after Area Code)</label>
									<input type="text" required ng-pattern='/^[0-9]+/' ng-model='vm.siteForm.nxx' class="form-control" name="nxx" placeholder="938"  ng-minlength='3' ng-maxlength='3'>
									<div ng-messages="addsiteForm.nxx.$dirty && addsiteForm.nxx.$error">
										<div ng-message="pattern">Please enter the nxx in the numberic format</div>
										<div ng-message='minlength'>Please enter least 3 digits</div>
										<div ng-message='maxlength'>Please enter least 3 digits</div>
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>	
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.didrange.$touched && addsiteForm.didrange.$invalid, 'has-success': addsiteForm.didrange.$touched && addsiteForm.didrange.$valid }">
									<label for="didrange" required class=" control-label">DID Range Regex (Example - 40[2-9]X)</label>
									<input type="textarea" required ng-pattern='/^[0-9,\],\-,\[,X]+/' ng-model='vm.siteForm.didrange' class="form-control" name="didrange" placeholder="40[2-9]X" ng-minlength='4'>
									<div ng-messages="addsiteForm.didrange.$dirty && addsiteForm.didrange.$error">
										<div ng-message="pattern">Please enter the didrange in the regex format</div>
										<div ng-message='minlength'>Please enter least 4 charactors</div>
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.operator.$touched && addsiteForm.operator.$invalid, 'has-success': addsiteForm.operator.$touched && addsiteForm.operator.$valid }">
									<label for="operator" required class=" control-label">Operator last 4 digits of DID <i>(optional)</i></label>
									<input type="text" required ng-pattern='/^[0-9]/' ng-model='vm.siteForm.operator' class="form-control" name="operator" placeholder="4000" ng-maxlength='4' ng-maxlength='4'>
									<div ng-messages="addsiteForm.operator.$dirty && addsiteForm.operator.$error">
										<div ng-message="pattern">Please enter the operator last 4 digits of DID</div>
										<div ng-message='minlength'>Operator must be 4 digits</div>
										<div ng-message='minlength'>Operator must be 4 digits</div>
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.didblocks.$touched && addsiteForm.didblocks.$invalid, 'has-success': addsiteForm.didblocks.$touched && addsiteForm.eventCategory.$valid }">
									<label for="didblocks"  class="control-label">DID Blocks (From DID Database - multiples)</label>
									<select style='height:200px' class="form-control" required ng-model='vm.siteForm.didblocks' ng-options="block.id as block.start + ' - ' + block.end  + ' | ' + block.name for block in vm.didblocks | filter: vm.siteForm.npa  | orderBy:'start'" data-width="100%" name="didblocks" multiple >
									</select>
									<div ng-messages="addsiteForm.didblocks.$dirty && addsiteForm.didblocks.$error">
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div style="height:25px"></div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.trunking.$touched && addsiteForm.trunking.$invalid, 'has-success': addsiteForm.trunking.$touched && addsiteForm.trunking.$valid }">
									<label for="trunking"  class="control-label">Trunking</label><br>
										<div class="panel panel-default panel-body">
											<label> 
												<input type="radio" class="radio-inline" required ng-model='vm.siteForm.trunking' value="sip" data-width="100%" name="trunking">
												SIP
											</label>
											<label> 
												<input type="radio" class="radio-inline" required ng-model='vm.siteForm.trunking' value="local" data-width="100%" name="trunking">
												Local PRI
											</label>
											<div ng-messages="addsiteForm.trunking.$dirty && addsiteForm.trunking.$error">
												<div ng-messages-include="error-messages"></div>
											</div>
										</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div style="height:10px"></div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.e911.$touched && addsiteForm.e911.$invalid, 'has-success': addsiteForm.e911.$touched && addsiteForm.e911.$valid }">
									<label for="e911"  class="control-label">E911</label><br>
										<div class="panel panel-default panel-body">
											<label> 
												<input type="radio" class="radio-inline" required ng-model='vm.siteForm.e911' value="911enable" data-width="100%" name="e911">
												911Enable
											</label>
											<label> 
												<input type="radio" class="radio-inline" required ng-model='vm.siteForm.e911' value="local" data-width="100%" name="e911">
												Local 911
											</label>
											<div ng-messages="addsiteForm.e911.$dirty && addsiteForm.e911.$error">
												<div ng-messages-include="error-messages"></div>
											</div>
										</div>
								</div>
							</div>
							
						</div>
						
						<div class="row">

							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.timezone.$touched && addsiteForm.timezone.$invalid, 'has-success': addsiteForm.timezone.$touched && addsiteForm.eventCategory.$valid }">
									<label for="timezone"  class="control-label">CUCM Data Time Group</label>
									<select class="form-control" required ng-model='vm.siteForm.timezone' ng-options="timezone as timezone for timezone in vm.datetimegrps" data-width="100%" name="timezone">
									</select>
									<div ng-messages="addsiteForm.timezone.$dirty && addsiteForm.timezone.$error">
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.extlen.$touched && addsiteForm.extlen.$invalid, 'has-success': addsiteForm.extlen.$touched && addsiteForm.eventCategory.$valid }">
									<label for="extlen"  class="control-label">Short Extension Length (Standard is 4)</label>
									<select class="form-control" required ng-model='vm.siteForm.extlen' ng-options="extlen as extlen for extlen in vm.extlen" data-width="100%" name="extlen">
									</select>
									<div ng-messages="addsiteForm.extlen.$dirty && addsiteForm.extlen.$error">
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="row" ng-show="vm.siteForm.trunking == 'local'|| vm.siteForm.e911 == 'local'">
						
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.srstip.$touched && addsiteForm.srstip.$invalid, 'has-success': addsiteForm.srstip.$touched && addsiteForm.srstip.$valid }">
									<label for="srstip" class=" control-label">SRST IP Address <br><i>(optional)</i></label>
									<input type="textarea" ng-pattern='/^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$/' ng-model='vm.siteForm.srstip' class="form-control" name="srstip" placeholder="10.0.0.1" ng-minlength='6'>
									<div ng-messages="addsiteForm.srstip.$dirty && addsiteForm.srstip.$error">
										<div ng-message="pattern">Please enter the srstip in IP Address Format</div>
										<div ng-message='minlength'>Please enter the srstip in IP Address Format</div>
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addsiteForm.h323ip.$touched && addsiteForm.h323ip.$invalid, 'has-success': addsiteForm.h323ip.$touched && addsiteForm.h323ip.$valid }">
									<label for="h323ip" class=" control-label">H323 Gateway IP Addresses <br><i>(optional, comma delimited)</i></label>
									<input type="textarea" ng-pattern='/((25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)(,\n|,?$))/' ng-model='vm.siteForm.h323ip' class="form-control" name="h323ip" placeholder="10.0.0.1,10.1.1.1" ng-minlength='6'>
									<div ng-messages="addsiteForm.h323ip.$dirty && addsiteForm.h323ip.$error">
										<div ng-message="pattern">Please enter the h323ip in IP Address Format</div>
										<div ng-message='minlength'>Please enter the h323ip in IP Address Format</div>
										<div ng-messages-include="error-messages"></div>
									</div>
								</div>
							</div>
						</div>
						
						 Print Form JSON
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								{{vm.siteForm}}
								
							</div>
						</div>
						
						<!---->
						
						<hr />
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group">
									<button  type="submit" ng-disabled="addsiteForm.$invalid" class="btn btn-primary">Submit</button>
									<button type="reset" class="btn btn-primary">Reset</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div style="margin:25px"></div>
	</div>
</div>
</div>
