<div style="margin:100px"></div>

<div style="margin-left:80px; margin-right:80px;">
	<div class="well form-horizontal" style="margin-top:10px;" >
	
			<div style="margin:50px"></div>
		
			<legend>Site Details
			
			<button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
			<a href="#/site"><button class="btn btn-default btn-sm pull-right"><i class="glyphicon glyphicon-chevron-left"></i>Back to Site List</button> </a>
			<br> <div style="margin:10px"></div></legend>
		
			
		
			<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr class="warning">
							<th>
								<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
									ID
										<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'sitecode'; sortReverse = !sortReverse" style="color:black">
									Sitecode
										<span ng-show="sortType == 'sitecode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'sitecode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'srstip'; sortReverse = !sortReverse" style="color:black">
									Srst IP
										<span ng-show="sortType == 'srstip' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'srstip' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>	

							<th>
								<a href="" ng-click="sortType = 'h323ip'; sortReverse = !sortReverse" style="color:black">
									H323 Gateway IPs
										<span ng-show="sortType == 'country_code' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'country_code' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>	
							
							<th>
								<a href="" ng-click="sortType = 'timezone'; sortReverse = !sortReverse" style="color:black">
									Timezone
										<span ng-show="sortType == 'timezone' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'timezone' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'npa'; sortReverse = !sortReverse" style="color:black">
									NPA
										<span ng-show="sortType == 'npa' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'npa' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'nxx'; sortReverse = !sortReverse" style="color:black">
									NXX
										<span ng-show="sortType == 'nxx' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'nxx' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							
							<th>
								<a href="" ng-click="sortType = 'didrange'; sortReverse = !sortReverse" style="color:black">
									Did Range Regex
										<span ng-show="sortType == 'didrange' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'didrange' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<!--
							<th>
								<a href="" ng-click="sortType = 'didblocks'; sortReverse = !sortReverse" style="color:black">
									Did Block IDs
										<span ng-show="sortType == 'didblocks' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'didblocks' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							-->
							
							<th>
								<a href="" ng-click="sortType = 'operator'; sortReverse = !sortReverse" style="color:black">
									Operator
										<span ng-show="sortType == 'operator' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'operator' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'trunking'; sortReverse = !sortReverse" style="color:black">
									Trunking
										<span ng-show="sortType == 'trunking' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'trunking' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'e911'; sortReverse = !sortReverse" style="color:black">
									911
										<span ng-show="sortType == 'e911' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'e911' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'languages'; sortReverse = !sortReverse" style="color:black">
									Languages
										<span ng-show="sortType == 'languages' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'languages' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'comment'; sortReverse = !sortReverse" style="color:black">
									Comment
										<span ng-show="sortType == 'comment' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'comment' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
									Created At
										<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
									Updated At
										<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
						</tr>
					</thead>
					
					<tbody>

					<tr>
							<td>{{ vm.site.id}}</a></td>
							<td>{{ vm.site.sitecode}}</td>
							<td>{{ vm.site.srstip}}</a></td>
							<td>{{ vm.site.h323ip}}</td>
							<td>{{ vm.site.timezone}}</td>
							<td>{{ vm.site.npa}}</td>
							<td>{{ vm.site.nxx}}</td>
							<td>{{ vm.site.didrange}}</td>
							<!--<td>{{ vm.site.didblocks}}</td>-->
							
							<td>{{ vm.site.operator}}</td>
							<td>{{ vm.site.trunking}}</td>
							<td>{{ vm.site.e911}}</td>
							<td>{{ vm.site.languages}}</td>
							<td>{{ vm.site.comment}}</td>
							<td>{{ vm.site.created_at}}</td>
							<td>{{ vm.site.updated_at}}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div ng-show="vm.site.didblocks">
				<legend>DID Blocks</legend>
				<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
					<table class="table table-condensed table-striped table-bordered table-hover">
					
						<thead>
							<tr class="success">
									<th>ID</th>
									<th>Name</th>
									<th>Start</th>
									<th>End</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="block in vm.site.didblocks track by $index">
								<td>{{block.id}}</td>
								<td>{{block.name}}</td>
								<td>{{block.start}}</td>
								<td>{{block.end}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-hide="vm.site.didblocks">
			<h4>No DID Blocks Found</h4>
			</div>
			

		<!-- Button to reimport Site Data into Form. -->
		
			<div ng-if="vm.deploybutton">
				<div class="well col-lg-6">
					<h4>CUCM - Site Not Found.</h4>
					Deploy the standard objects for your site based on the trunking and 911 selected. <br>This will build the device pool, partitions, css, etc..
					<br>
					<br>
					<p><b style="color:red">Warning! </b>Provisioning production systems.</p>
					<hr>
					<button ng-show="!vm.deploysiteresult" class="btn btn-primary btn-sm" ng-click="vm.deploycucmsite(vm.site)"><i class="glyphicon glyphicon-save"></i>  Deploy Site to CUCM</button>
				</div>
			</div>
			
			<div class="panel panel-default" ng-show="vm.cucmsitesummary">
				<div class="panel-heading">
					<a class="collapsed" data-toggle="collapse" ng-href="" data-target="#collapse1" style="color:black;cursor: pointer;"><h4>CUCM Configuration</h4></a>
				</div>
				<div class="panel-body panel-collapse collapse"" id="collapse1"><b>Site Exists in CUCM</b><hr> 
					<table class="table table-bordered table-hover table-responsive">
						<thead>
							<tr class="default">
								
								<th>
									Key
								</th>
								<th>
									Values
								</th>
							</tr>
						</thead>
						<tbody>
							
							<tr ng-repeat="(key,values) in vm.cucmsitesummary track by $index">
								<td>{{key}}</td>
								<!--<td style="word-wrap: break-word; margin:10px;">{{values}}</td>-->
								<td>
									<table class="table table-bordered table-hover table-responsive" style="background-color: transparent;">
										<tr ng-repeat="value in values">
											<td>{{value}}</td>
										</tr>	
									</table>
								</td>
							</tr>
							
						</tbody>
						
					</table>
				</div>	
			</div>
		
			<div ng-if="vm.cucmloading">
				<legend >Please wait... </legend>
				<div class="well">
					<div class="row">
						<div class="container loader"></div>
					</div>
					<div style="margin:25px"></div>
				</div>
			</div>
			
			<!-- No longer in use. 
			<div class="panel panel-default" ng-show="vm.deploysiteresult">
				<div class="panel-heading"><h3>CUCM Result</h3></div>
					<div class="panel-body">
						<div ng-repeat="item in vm.deploysiteresult">
								{{item}}
							</div>
					</div>	
			</div>
			-->

		<div ng-if="vm.usertemplatedeploybutton">
			<div class="well col-lg-6 pull-right">
				<h4>Unity Connection - Site Not Found.</h4>
				Deploy a User Template for Employees and Partners for each language selected for site. <br><br>
				<br>
				<p><b style="color:red">Warning! </b>Provisioning production systems.</p>
				<hr>
				
				<button ng-show="vm.usertemplatedeploybutton" class="btn btn-primary btn-sm" ng-click="vm.create_cupi_usertemplates()"><i class="glyphicon glyphicon-save"></i>  Deploy User Templates</button>
			</div>
		</div>
			
			
		<div ng-if="vm.siteusertemplates.length > 0">
		
			<div class="panel panel-default" ng-show="vm.siteusertemplates">
				<div class="panel-heading">
					<a class="collapsed" data-toggle="collapse" ng-href="" data-target="#usertemplates" style="color:black;cursor: pointer;"><h4>Unity Connection - User Templates</h4></a>
				</div>
				<div class="panel-body panel-collapse collapse" id="usertemplates">
					<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
						<table class="table table-condensed table-striped table-bordered table-hover">
							<thead>
								<tr class="success">
										<th>Alias</th>
										<th>TimeZone</th>
										<th>Language</th>
										<th>External Service Account</th>
										<th>Menu Options</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="template in vm.siteusertemplates track by $index">
									<td><b>{{template.Alias}}</b></td>
									<td>{{template.TimeZone}}</td>
									<td>{{template.Language}}</td>
									<td>{{template.externalserviceaccounts.return.response.TemplateExternalServiceAccount.DisplayName}}</td>
									<td>
										<table class="table table-condensed table-striped table-bordered table-hover">
											<tr ng-if="template.callerinput.response.MenuEntry" ng-repeat="menuoption in template.callerinput.response.MenuEntry">
												<td>{{menuoption.TouchtoneKey}}</td>
												<td>{{menuoption.DisplayName}}</td>
												<td>{{menuoption.TransferNumber}}</td>
												<td>{{menuoption.TransferRings}}</td>
												<td>{{menuoption}}</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>	
		</div>
		
		
		
		
		<!-- Loading -->
		
		<div ng-if="vm.loading">
			<legend >Loading Phone Plans. Please be patient... </legend>
			<div class="well">
				<div class="row">
					<div class="container loader"></div>
				</div>
				<div style="margin:25px"></div>
			</div>
		</div>
		

		<div style="margin:25px"></div>
			
		<!--After done loading Print the TAble-->
		<div ng-if="!vm.loading">		
			
			<div style="margin:25px"></div>
				
				
			<div style="margin:75px"></div>
			
			<legend >Phone Planning</legend>
				
						
			<div class="input-group col-md-3 ">
				<input type="text" class="form-control" ng-model="vm.search" ng-model-options="{ debounce: 10 }" placeholder="Search" name="srch-term" id="srch-term">
				<div class="input-group-btn">
					<button class="btn btn-default btn-disabled" ng-click="vm.search = undefined"><i class="glyphicon glyphicon-search"></i>
				</div>

			</div>
			<div style="margin:25px"></div>

			<button class="btn btn-primary btn-sm" ng-click="vm.phoneplanaddtoggle(vm.showaddrow)"><i class="glyphicon glyphicon-plus"></i> Add</button>
			
			<div>
				<ng-include src="'siteplanning/phoneplans/createphoneplan.html'"></ng-include>
			</div>
			
			
			<div style="margin:25px"></div>
				
				<div class="well well-sm" style="box-shadow: 1px 1px 5px grey;" ng-if="!vm.phoneplans.length > 0">
					<h4>No Phones Plans Found</h4>
					<p>Please add a phone plan using the Add button above.</p>
				</div>
			
				<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;" ng-if="vm.phoneplans.length > 0">
					<table class="table table-striped table-condensed table-bordered table-hover">
						<thead>
							<tr class="success">

								<th>
									<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
										ID
											<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse" style="color:black">
										Name
											<span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'description'; sortReverse = !sortReverse" style="color:black">
										Description
											<span ng-show="sortType == 'description' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'description' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'language'; sortReverse = !sortReverse" style="color:black">
										Language
											<span ng-show="sortType == 'language' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'language' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'site'; sortReverse = !sortReverse" style="color:black">
										Employee Unity Template
											<span ng-show="sortType == 'site' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'site' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'site'; sortReverse = !sortReverse" style="color:black">
										NonEmployee Unity Template
											<span ng-show="sortType == 'site' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'site' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>


								<th>
									<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
										Created At
											<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								
								<th>
									<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
										Updated At
											<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
											<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
									</a>
								</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						</thead>
						<tbody>
						<!-- Allow you to edit and delete Blocks with new buttons -->
						<tr ng-repeat="phone in vm.phoneplans | orderBy:sortType:sortReverse | filter:vm.search: strict">
						
							<!--List View-->
							<td><a ui-sref="getphoneplan({id: phone.id})"><button class="btn btn-xs btn-default btn-block">{{ phone.id}}</button></a></td>
							<!--<td>{{ phone.parent}}</td>-->
							<td   ng-show="!vm.edit[phone.id]">{{ phone.name}}</td>
							<td   ng-show="!vm.edit[phone.id]">{{ phone.description}}</td>
							<td   ng-show="!vm.edit[phone.id]">{{ phone.language}}</td>
							<td   ng-show="!vm.edit[phone.id]">{{ phone.employee_vm_user_template}}</td>
							<td   ng-show="!vm.edit[phone.id]">{{ phone.nonemployee_vm_user_template}}</td>
							<td   ng-show="!vm.edit[phone.id]">{{ phone.created_at}}</td>
							<td   ng-show="!vm.edit[phone.id]">{{ phone.updated_at}}</td>
							<td   ng-show="!vm.edit[phone.id]">
								<button class="btn btn-xs btn-primary"  ng-click="vm.edit[phone.id] = !vm.edit[phone.id]"> Edit </button>

								<!-- Function moved ot modal...
								<button class="btn btn-danger btn-xs " ng-click="vm.delete(phone)"> Delete </button>-->
								
								<button class="btn btn-danger btn-xs " data-toggle="modal" data-target="#{{phone.id}}-modal"> Delete </button>
							
								<!-- Are you sure Modal - Hidden Unless Delete button is Pressed -->
								<div class="modal fade" id="{{phone.id}}-modal" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4>Are you sure? <h4>
											</div>
											<div class="modal-body">
												<p>You are about to delete Plan ID: {{ phone.id}}</p>
												<table class="table table-striped table-condensed table-bordered table-hover">
													<tr>
														<th>ID</th>
														<th>Name</th>
														<th>Description</th>
														

													</tr>
													<tr>
														<td>{{ phone.id}}</td>
														<td>{{ phone.name}}</td>
														<td>{{ phone.description}}</td>
													</tr>
												</table>
												<p>All provisioned information will be lost. Are you sure you want to proceed?</p>
											</div>
											<div class="modal-footer">

											<!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
											<a class="btn btn-danger" data-dismiss="modal" ng-click="vm.deletephoneplan(phone)">Delete</a>
											<a class="btn btn-primary" data-dismiss="modal">Cancel</a>

												
											</div>
										</div>
									</div>
								</div> <!-- npa of Modal -->
								
								
							</td>
								
							</td>

							<!--Edit View-->
							<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.name"></td>
							<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.description"></td>
							<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.language"></td>
							<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.employee_vm_user_template"></td>
							<td   ng-show="vm.edit[phone.id]"><input type="text" class="form-control form-control-sm" ng-model="phone.nonemployee_vm_user_template"></td>
							<td   ng-show="vm.edit[phone.id]">{{ phone.created_at}}</td>
							<td   ng-show="vm.edit[phone.id]">{{ phone.updated_at}}</td>
							
							<td  ng-show="vm.edit[phone.id]">
								<button class="btn btn-xs btn-primary"  ng-click="vm.updatephoneplan(phone);vm.edit[phone.id] = !vm.edit[phone.id]"> Save </button>
								<button class="btn btn-xs btn-warning"  ng-click="vm.edit[phone.id] = !vm.edit[phone.id]"> Undo </button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>
</div>