<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:10px"></div>

<div class="container">
<div class="well">
<div style="margin:50px"></div>

	<div class="row">
		<div class="col-md-10 col-sm-10 col-lg-10 col-md-offset-1">
			<script type="text/ng-template" id="error-messages">
							<div ng-message='required'> This Field is required </div>
							<div ng-message='minlength'> Too short </div>
							<div ng-message='maxlength'> Too long </div>
			</script>
				<legend><h2><i class="fa fa-pencil fa-fw"></i> Create New Phone</h2></legend>
					<div class="well">
					<p><i class="fa fa-info-circle" style="color:red;"></i><b style="color:red;"> Note! </b> <br>
						<br>
						This Tool is designed for simple changes only. It can create standard single line phones and voicemail boxes only. <br>
						
						Oneoff configs or multi Line Phones need to be edited in the Call Manager System. <br>
						If you do not have permissions or knowledge to do so, please escalate the ticket to Network Services.
					
					</p>
					</div>
					<!--<form class="form" role="form" id="addDeviceForm" ng-submit='addDeviceForm.$valid && vm.submitDevice(vm.deviceForm)' novalidate name="addDeviceForm">-->
					<form class="form" role="form" id="addDeviceForm" novalidate name="addDeviceForm">
						
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addDeviceForm.sitecode.$touched && addDeviceForm.sitecode.$invalid, 'has-success': addDeviceForm.sitecode.$touched && addDeviceForm.sitecode.$valid }">
									<label for="sitecode" class="control-label">Sitecode</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
											
											<input type="text" readonly ng-model='vm.deviceForm.sitecode' class="form-control" data-width="100%" name="model">
										</div>
										<div ng-messages="addDeviceForm.sitecode.$dirty && addDeviceForm.sitecode.$error">
												<div ng-message='required'> sitecode is required </div>

										</div>
									</div>
								</div>
							</div>

						</div>
						
						<hr>

						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addDeviceForm.device.$touched && addDeviceForm.device.$invalid, 'has-success': addDeviceForm.device.$touched && addDeviceForm.device.$valid }">
									<label for="device" class="control-label">Phone Model</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
											
											<select class="form-control" required ng-model='vm.deviceForm.device' ng-options="model as model for model in vm.phonemodels" data-width="100%" name="model">
											</select>
										</div>
										<div ng-messages="addDeviceForm.device.$dirty && addDeviceForm.device.$error">
												<div ng-message='required'> device is required </div>
												<div ng-message='minlength'>Please enter a device at least 8 chars long</div>
												<div ng-message='maxlength'>Name entered cannot be longer than 8 chars</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6" ng-if="vm.deviceForm.device && vm.deviceForm.device != 'IP Communicator'">
								<div class="form-group" ng-class="{'has-error': addDeviceForm.name.$touched && addDeviceForm.name.$invalid, 'has-success': addDeviceForm.name.$touched && addDeviceForm.name.$valid }">
									<label for="name" class="control-label">Phone MAC Address</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-server"></i></span>
											<input type="text" ng-model='vm.deviceForm.name' ng-model-options='{ debounce: 1000 }' ng-change="vm.checkname(vm.deviceForm)" required class="form-control"  name="name" placeholder="MAC Address">
										</div>
										<div ng-messages="addDeviceForm.name.$dirty && addDeviceForm.name.$error">
												<div ng-message='required'> DeviceName is required </div>
												<div ng-message='minlength'>Please enter a name at least 12 chars long</div>
												<div ng-message='maxlength'>Name entered cannot be longer than 12 chars</div>
												
										</div>
										<div ng-if="vm.nameinvalid">
											<div class="danger"> DeviceName is invalid </div>
										</div>
										
									</div>
								</div>
							</div>
						
						</div>
						
						<div class="row" ng-if="vm.phone">
							<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
								<ng-include src="'cucm-phone-manager/includes/include-phonefound.html'"></ng-include>
							</div>
							<div style="margin-bottom:125px"></div>
						</div>
						
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addDeviceForm.usenumber.$touched && addDeviceForm.usenumber.$invalid, 'has-success': addDeviceForm.usenumber.$touched && addDeviceForm.usenumber.$valid }">
									<label for="usenumber"  class="control-label"><i class="fa fa-phone"></i> Assign Phone Number</label><br>
										<div class="panel panel-default panel-body">
											<label> 
												<input type="radio" class="radio-inline" required ng-model='vm.deviceForm.usenumber' value="new" data-width="100%" name="usenumber">
												New&nbsp&nbsp&nbsp&nbsp&nbsp
											</label>
											<label> 
												<input type="radio" class="radio-inline" required ng-model='vm.deviceForm.usenumber' value="existing" data-width="100%" name="usenumber">
												Use Existing
											</label>
											<div ng-messages="addDeviceForm.usenumber.$dirty && addDeviceForm.usenumber.$error">
												<div ng-messages-include="error-messages"></div>
											</div>
										</div>
								</div>
							</div>
						</div>
							<div class="row" ng-if="vm.deviceForm.usenumber == 'existing'">
							
								<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
									<div class="form-group" ng-class="{'has-error': addDeviceForm.dn.$touched && addDeviceForm.dn.$invalid, 'has-success': addDeviceForm.name.$touched && addDeviceForm.name.$valid }">
										<label for="dn" class="control-label">Use Existing Phone Number</label>
										<div class="inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-server"></i></span>
												<input type="text" required  ng-model='vm.deviceForm.dn' ng-model-options='{ debounce: 500 }' ng-change="vm.checklineusage(vm.deviceForm.dn); vm.check_ipcommunicator_usage(vm.deviceForm)" required class="form-control"  name="dn" placeholder="10 Digit Phone Number" ng-minlength='10' ng-maxlength='10'>
											</div>
											<div ng-messages="addDeviceForm.dn.$dirty && addDeviceForm.dn.$error">
													<div ng-message='required'> DN is required </div>
													<div ng-message='minlength'>Please enter a dn at least 10 chars long</div>
													<div ng-message='maxlength'>Name entered cannot be longer than 10 chars</div>
											</div>
											<div class="danger" ng-if="vm.lineinvalid">Line Invalid - Must be a 10 digit phone number</div>
										</div>
									</div>
								</div>
								
							</div>
							<div class="row" ng-if="vm.deviceForm.usenumber == 'new' && vm.availablenumbers.length > 0">
								<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
									<div class="form-group" ng-class="{'has-error': addDeviceForm.dn.$touched && addDeviceForm.dn.$invalid, 'has-success': addDeviceForm.dn.$touched && addDeviceForm.dn.$valid }">
										<label for="dn" class="control-label">Select Available Number</label>
										<div class="inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
												
												<select class="form-control" required ng-model='vm.deviceForm.dn' ng-model-options='{ debounce: 500 }' ng-change="vm.checklineusage(vm.deviceForm.dn); vm.check_ipcommunicator_usage(vm.deviceForm)" ng-options="did as did for did in vm.availablenumbers" data-width="100%" name="model">
												</select>
											</div>
											<div ng-messages="addDeviceForm.dn.$dirty && addDeviceForm.dn.$error">
													<div ng-message='required'> DN is required </div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="alert alert-danger" role="alert" ng-if="vm.deviceForm.usenumber == 'new' &&!vm.availablenumbers.length">
								<strong>No Available Numbers Found for {{vm.sitecode}}. Contact System Administrator</strong>										
							</div>
							<div class="row">
							
							<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
								<ng-include src="'cucm-phone-manager/includes/include-linefound-table.html'"></ng-include>
							</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
									<div class="form-group">
										<button ng-click="vm.submitDevice(vm.deviceForm)" ng-disabled="addDeviceForm.$invalid" class="btn btn-primary">Submit</button>
										<button type="reset" class="btn btn-primary">Reset</button>
									</div>
								</div>
							</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div style="margin:25px"></div>
	</div>
</div>
</div>
