<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:100px"></div>

<div class="container">
<div class="well">
<div style="margin:50px"></div>

	<div class="row">
		<div class="col-sm-10 col-lg-10 col-md-offset-1">
			<script type="text/ng-template" id="error-messages">
							<div ng-message='required'> This Field is required </div>
							<div ng-message='minlength'> Too short </div>
							<div ng-message='maxlength'> Too long </div>
			</script>
				<legend><h2><i class="glyphicon glyphicon-check"></i> Check DID Block Usage </h2></legend>
				
				<pre class="col-lg-12"><b><h5>1 number per line</b><br><br>Paste Rows of Numbers from Excel into the text box to check if number is in use. <br><br><b style="color:red;">Note! </b>This does not query CUCM Directly. This only checks the Telecom Management Database if the block exists. <h5></pre>
				
				<div class="panel-body">
					<form class="form" role="form" id="addDidblockForm" ng-submit='addDidblockForm.$valid && vm.submitDidblock(vm.didblockForm)' novalidate name="addDidblockForm">
						
						<div class="row">
						
							<div class="col-lg-6">
								<div class="form-group" ng-class="{'has-error': addDidblockForm.delimiter.$touched && addDidblockForm.delimiter.$invalid, 'has-success': addDidblockForm.delimiter.$touched && addDidblockForm.delimiter.$valid }">
									<label for="delimiter" class="control-label">Block Range Delimiter</label>
									<select class="form-control" required ng-model='vm.selectedOption' ng-options="delimiter.name for delimiter in vm.states track by delimiter.id" data-width="100%" name="delimiter">
									</select>
									<div ng-messages="addDidblockForm.delimiter.$dirty && addDidblockForm.delimiter.$error">
										<div ng-message='required'> delimiter is required </div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group" ng-class="{'has-error': addDidblockForm.blocks.$touched && addDidblockForm.blocks.$invalid, 'has-success': addDidblockForm.blocks.$touched && addDidblockForm.blocks.$valid }">
									<label for="blocks" class="control-label">Block Ranges</label>
									<textarea ng-model='vm.didblockForm.blocks' class="form-control" placeholder=" 4025550000	4025550999&#10 4029384000	4029384999"
										rows="10" id="blocks" name="blocks"></textarea>
									<!--<input textarea" ng-model='vm.didblockForm.name' required class="form-control"  rows="10" name="name" placeholder="Name">-->
									<div ng-messages="addDidblockForm.blocks.$dirty && addDidblockForm.blocks.$error">
										<div ng-message='required'> Blocks are is required </div>
									</div>
								</div>
							</div>
						</div>

							
						<!--
						 Print Form JSON
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								{{vm.didblockForm}}
							</div>
						</div>
						
						-->
						
						<hr />
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-12">
								<div class="form-group">
									<button  type="submit" ng-disabled="addDidblockForm.$invalid" class="btn btn-primary">Submit</button>
									<button type="reset" class="btn btn-primary">Reset</button>
									<button class="btn btn-default pull-right"  ng-if="vm.numberstable" ng-click="vm.toggle(vm.showassignments)"> Show Assignments </button>
								</div>
							</div>
						</div>
					</form>
				</div>
			
			<div style="margin:25px"></div>
			
			<!-- Loading -->
			<div ng-if="vm.loading" class="well">
				<div class="row">
					<div class="container loader"></div>
				</div>
				<div style="margin:25px"></div>
			</div>
			
			
			<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;" ng-if="vm.numberstable" >
				<table class="table table-striped table-condensed table-bordered table-hover">
					<thead>
						<tr class="info">	
							<th>
								<a href="" ng-click="sortType = 'parent'; sortReverse = !sortReverse" style="color:black">
									Parent Block ID
										<span ng-show="sortType == 'parent' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'parent' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>						
							<th>
								<a href="" ng-click="sortType = 'number'; sortReverse = !sortReverse" style="color:black">
									Number
										<span ng-show="sortType == 'number' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'number' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'details.status'; sortReverse = !sortReverse" style="color:black">
									Status
										<span ng-show="sortType == 'details.status' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'details.status' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th ng-if="vm.showassignments">
								<a href="" ng-click="sortType = 'assignments'; sortReverse = !sortReverse" style="color:black">
									Assignments
										<span ng-show="sortType == 'assignments' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'assignments' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>								

						</tr>
				</thead>
			
				<tbody>
					<tr ng-repeat="number in vm.numberstable | orderBy:sortType:sortReverse | filter:vm.search: strict">
						<td><a href="#/didblock/{{number.details.parent}}"><b>{{number.details.parent}}</b></td>
						<td><a href="#/line/{{number.number}}" target="_blank"><b>{{number.number}}</b></a></td> 
						<td>{{number.number}}</td> 
						<td>{{number.details.status}}</td> 
						<td ng-if="vm.showassignments">
						<!--Nested Table inside Row-->
							<div ng-show="number.details.assignments" class="panel panel-default" style="background-color: transparent;">
								<table class="table table-condensed table-bordered" style="background-color: transparent;">
									<td><i>Pattern</i></td>
									<td><i>Partition</i></td>
									<td><i>Type</i></td>
									<td><i>Detail</i></td>
									<tr ng-repeat="assignment in number.details.assignments track by $index">
										<td>{{assignment.dnOrPattern}}</td>
										
										<td>{{assignment.partition._}}</td>
										<td>{{assignment.type}}</td>
										<td>{{assignment.routeDetail}}</td>
										<td><a href="#/phone/{{assignment.routeDetail}}" target="_blank"><b>{{assignment.routeDetail}}</b></a></td>
									</tr>
								</table>
							</div>
						</td> 
					</tr>
				</tbody>
				
			</table>
				<!--{{vm.numberstable}}-->
		</div>
	</div>
	<div class="row">
		<div style="margin:25px"></div>
	</div>
</div>
</div>
