<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div class="container">
<!--
		<div ng-if="vm.username">
		 Populate User info if avaible 
			<h3 >Welcome {{vm.username}}<br>  
			<h5>{{vm.title}}</h5>
			<div ng-show="vm.photo">
				<img style="background-repeat: no-repeat; background-position: 50%; border-radius: 50%; width: 80px; height: 95px;" class="pull-right"src=data:image/png;base64,{{vm.photo}}></h3>
			</div>
		</div>
		
		<div style="margin-top: 10px"></div>
		
		<p><a href="#/logout">Logout</a></p>
-->
	<div class="jumbotron">

		<!--<h1 style="-webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.05)));}"><img alt="Brand" style="max-height: 70px" src="app-content/images/phone-planning.png"> Telecom Management</h1>-->
		
		
		<!--<h1><img alt="Brand" style="max-height: 70px" src="//b.dryicons.com/images/icon_sets/architecture_blueprint_icons_set/png/128x128/phone.png"> Telecom Management</h1>-->
		<h2> {{vm.teamnumber.alertingName}}</h2>
		<h4> Phone Number: {{vm.teamnumber.pattern}}</h4>
		<hr>

		<div class="well" style="margin-top: 50px">
		
			<div class="control-group">
				<label class="control-label">Current On-Call Number</label>
				<div class="controls">
					<input type="hidden" name="PhoneNumber" id="PhoneNumber" value="PHONE_NUMBER_GOES_HERE" />
					<span id="on_call_destination" class="input-xlarge uneditable-input" style="width:195px"> {{vm.teamnumber.currentoncallnum}}</span>
				</div>
			</div>
			<hr>
			<div class="control-group">
				<label class="control-label">New On-Call Number</label>
					<div class="controls">
					<div class="input-append">
						<input name="on_call_input" type="text" id="on_call_input" class="span2" size="16" ng-model="vm.teamnumber.callForwardAll.destination"/><br><br>
						<button class="btn btn-sm btn-primary" ng-click="vm.updateline(vm.teamnumber)" name="on_call_button" value="Update" id="on_call_button">Update</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
</div>




